div.net-ubos-underbars-vl-messagethread table.tofrom ul {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-messagethread table.tofrom li {
    margin: 0;
    padding: 0;
    padding: 0 1ex;
}

div.net-ubos-underbars-vl-messagethread div.messages {
    margin-top: 40px;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
    padding: 20px;
}

div.net-ubos-underbars-vl-messagethread table.messages tr:nth-child(even) {
    background: #f4f4f4;
}

div.net-ubos-underbars-vl-messagethread table.messages th,
div.net-ubos-underbars-vl-messagethread table.messages td {
    vertical-align: top;
    padding: 1ex;
}
div.net-ubos-underbars-vl-messagethread table.messages col.date {
    width: 20%;
}
div.net-ubos-underbars-vl-messagethread table.messages col.participant {
    width: 40%;
}
