div.net-ubos-underbars-vl-nonblessed table pre {
    margin-top: 0;
    margin-bottom: 0;
}

div.net-ubos-underbars-vl-nonblessed table.attributes2 {
    margin: 3em auto 0 auto;
    min-width: 60%;
}

div.net-ubos-underbars-vl-nonblessed div.children {
    margin-top: 3em;
}

div.net-ubos-underbars-vl-nonblessed div.children ul,
div.net-ubos-underbars-vl-nonblessed div.children li,
div.net-ubos-underbars-vl-nonblessed div.children p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.net-ubos-underbars-vl-nonblessed div.children > ul {
    padding-top: 1ex;
    padding-bottom: 1ex;
    background: var( --region-color );
}
div.net-ubos-underbars-vl-nonblessed span.size {
    color: #808080;
    vertical-align: super;
    font-size: 60%;
}
