{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.transactionlog/net.ubos.underbars.vl.transactionlog.css" }}

{{# vl:vl }}

<h1>MeshBase Transaction Log</h1>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<table class="log">
 <colgroup>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
  <col/>
 </colgroup>
 <thead>
  <tr>
   <th rowspan="2">When</th>
   <th colspan="5">Change</th>
  </tr>
  <tr>
   <th>Affected MeshObjects</th>
   <th>Type</th>
   <th>Property/Attribute</th>
   <th>Old value</th>
   <th>New value</th>
  </tr>
 </thead>
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       each vl.withinPageIterator}}
 <tbody>
{{#         each this.changeList.changes }}
  <tr>
{{#           if @first }}
   <th rowspan="{{ ../this.changeList.changes.length }}">{{ util:time ../this.timeUpdated }}</th>
{{/           if }}
   <td>
    <ul class="affected">
{{#           each this.affectedMeshObjects }}
     <li>{{# mesh:meshObjectLink ../../.. meshObject=this }}{{ mesh:meshObject ../../.. meshObject=this }}{{/ mesh:meshObjectLink}}</li>
{{/           each }}
    </ul>
   </td>

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectAttributeChange" exact=true }}
   <td>attribute changed</td>
   <td>{{ this.property }}</td>
   <td>{{ this.oldValue }}</td>
   <td>{{ this.newValue }}</td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectAttributesAddChange" exact=true }}
    <td>attribute(s) added</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
{{/           util:ifType }}
    </td>

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectAttributesRemoveChange" exact=true }}
    <td>attribute(s) removed</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul class="new">
{{#             each this.newValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectBlessChange" exact=true }}
    <td>blessed</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ mesh:meshType ../../.. meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ mesh:meshType ../../.. meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectCreateChange" exact=true }}
    <td>created</td>
    <td></td>
    <td></td>
    <td></td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectDeleteChange" exact=true }}
    <td>deleted</td>
    <td></td>
    <td></td>
    <td></td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectPropertyChange" exact=true }}
    <td>property changed</td>
    <td>{{ mesh:meshType ../../.. meshType=this.propertyType }}</td>
    <td>{{ mesh:property ../../.. property=this.oldValue }}</td>
    <td>{{ mesh:property ../../.. property=this.newValue }}</td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRoleAttributeChange" exact=true }}
    <td>role attribute changed</td>
    <td>{{ this.property }}</td>
    <td>{{ this.oldValue }}</td>
    <td>{{ this.newValue }}</td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRoleAttributesAddChange" exact=true }}
    <td>role attribute(s) added</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRoleAttributesRemoveChange" exact=true }}
    <td>role attribute(s) removed</td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRolePropertyChange" exact=true }}
    <td>role property changed</td>
    <td>{{ mesh:meshType ../../.. meshType=this.propertyType }}</td>
    <td>{{ mesh:property ../../.. property=this.oldValue }}</td>
    <td>{{ mesh:property ../../.. property=this.newValue }}</td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRoleTypeAddChange" exact=true }}
    <td>role blessed</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ mesh:meshType meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ mesh:meshType meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectRoleTypeRemoveChange" exact=true }}
    <td>role unblessed</td>
    <td></td>
    <td></td>
    <td></td>
{{/           util:ifType }}

{{#           util:ifType this type="net.ubos.meshbase.transaction.MeshObjectUnblessChange" exact=true }}
    <td>unblessed</td>
    <td></td>
    <td>
     <ul>
{{#             each this.oldValue }}
      <li>{{ mesh:meshType ../../.. meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
    <td>
     <ul>
{{#             each this.newValue }}
      <li>{{ mesh:meshType ../../.. meshType=this }}</li>
{{/             each }}
     </ul>
    </td>
{{/           util:ifType }}
    </li>
{{/         each }}
   </ol>
  </td>
 </tr>
 </tbody>
{{/       each}}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</table>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
<p>No transactions so far.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{ util:comment msg="pagination currently broken" }}

{{/ vl:vl }}
