{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl }}

 <h2>Role Attributes</h2>

{{#   bracket:bracket }}
{{#     bracket:content }}

{{#   each ( mesh:neighbors meshObject=subject ) }}
{{#     util:var .. name="neighbor" value=this }}
 <h3>Neighbor: {{# mesh:meshObjectLink .. meshObject=neighbor }}{{ mesh:meshObjectId .. meshObject=neighbor }}{{/ mesh:meshObjectLink }}</h3>

 <table class="properties facts">
  <thead>
   <tr>
    <th class="type">(Untyped)</th>
    <th class="name">
{{#       if ( neq vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#         html:overlay label="Add a role attribute with this neighbor" labelCssClass="button addroleattribute" }}
{{            html:overlay:content fragment="HttpShell/AddRoleAttribute" from=subject to=neighbor action=postUrl submitLabel="Add role attribute" }}
{{/         html:overlay}}
     </div>
{{/       if }}
    Role Attribute Name
    </th>
    <th class="value">Role Attribute Value</th>
   </tr>
  </thead>
  <tbody>
{{#       each ( mesh:roleAttributeNames meshObject=subject neighbor=neighbor ) }}
{{#         util:var ../.. name="roleAttributeName" value=this }}
   <tr>
    <th class="type"></th>
    <td class="name">
{{#           if ( neq vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#             html:overlay label="Delete role attribute" labelCssClass="button deleteroleattribute" }}
{{                html:overlay:content fragment="HttpShell/DeleteRoleAttribute" from=subject to=neighbor roleAttributeName=roleAttributeName action=postUrl submitLabel="Delete role attribute" }}
{{/             html:overlay}}
     </div>
{{/           if }}
{{            roleAttributeName }}
     </td>
     <td class="value">
{{            mesh:roleAttribute meshObject=meshObject neighbor=neighbor roleAttributeName=roleAttributeName }}
     </td>
    </tr>
{{/         util:var }}
{{/       each }}
  </tbody>
 </table>
{{/     util:var }}
{{/   each }}

{{/     bracket:content }}
{{#     bracket:notIfContent }}
{{#       if ( neq vl.state.name "Edit" ) }}
{{#         html:overlay label="Add a role attribute with this neighbor" labelCssClass="button addroleattribute" }}
{{            html:overlay:content fragment="HttpShell/AddRoleAttribute" from=subject action=postUrl submitLabel="Add role attribute" }}
{{/         html:overlay}}
<p>None.</p>
{{/       if }}
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
