div.net-ubos-underbars-vl-webresource table.content {
    width: 100%;
    margin-top: 40px;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}
div.net-ubos-underbars-vl-webresource table th,
div.net-ubos-underbars-vl-webresource table td {
    padding: 10px;
    vertical-align: top;
}

div.net-ubos-underbars-vl-webresource table th,
div.net-ubos-underbars-vl-webresource table td {
    padding: 10px;
    vertical-align: top;
}

div.net-ubos-underbars-vl-webresource table.content tr.content td {
    height: 150px;
}

div.net-ubos-underbars-vl-webresource iframe {
    display: block;
    width: 1200px;
    height: 900px;
    margin: 40px auto;
}
