@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url( "Jost-VariableFont_wght.ttf" );
}
@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url( "Jost-Italic-VariableFont_wght.ttf" );
}

:root {
  --element-background-color: #fff;
  --element-border-color: #a0a0a0;

  --brand-color: #2fd82f;
  --bland-color: #808080;

  --region-color: #fff;
  --region-border-radius: 10px;

  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-normal: 20px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, div, p, dl, dt, ul, span, td, th, text {
  font-family: Jost, Verdana, Tahoma, Helvetica, Arial, Sans-Serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Jost;
  font-size: var( --font-size-normal );
  font-weight: var( --font-weight-normal );
  line-height: 1.15;
  background: url( "/s/net.ubos.underbars.skin.world/background.jpg" );
  background-repeat: repeat;
}

table {
  border-collapse: collapse;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: #000060;
}

ul li {
  list-style-type: "\2027";
  padding-left: 0.8ex;
}

pre {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4ex;
}

header {
  margin: 0 0 50px 0;
  padding: 0;
}

footer {
  clear: both;
  margin: 50px 0 0 0;
  padding: 1px 0; /* otherwise Chrome will collapse the enclosing container */
}

header > div.container,
footer > div.container,
main {
  max-width: 1240px;
  margin: 0 auto;
}

main {
  min-height: 500px;
}

header > div.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgba( 255, 255, 255, 0.5 );
  border-style: solid;
  border-color: var(--brand-color);
  border-width: 0 0 1px 0;
}
header div.nav-tagline {
  flex-grow: 1;
}

header div.title img.logo,
header div.title span.title {
  vertical-align: middle;
}
header div.title {
  margin-right: 2em;
}
header img {
  display: block;
}
header div.nav-tagline span.tagline {
  font-size: 32px;
  font-weight: var( --font-weight-bold );
}

footer {
  font-size: 80%;
  color: #808080;
}
footer a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}
footer p {
    margin: 0;
    text-align: center;
}
footer > div.container {
  border-top: 1px solid var(--bland-color);
}

textarea {
    width: 100%;
    min-height: 200px;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0;
}

table.dialog-buttons {
    border-width: 1px 0 0 0;
    border-top-style: dotted;
    width: 100%;
    margin-top: 20px;
}
table.dialog-buttons > * > tr > td {
    border-width: 0;
    text-align: center;
    padding: 15px 0 5px 0;
    width: 33.3%;
}

div.slide-in-button {
    float: right;
    font-style: italic;
    clear: right;
}
div.errors {
    width: 100%;
    margin: 50px 0;
    padding: 10px 10px 0 10px;
    border: 1px solid;
    background: #fff0f0;
    border-color: red;
}
div.errors .stacktrace {
    font-size: 12px;
    overflow-x: scroll;
}
div.errors > h2 {
    margin: 0;
    color: red;
}
div.errors > ul {
    overflow-x: auto;
}
div.error {
    margin: 10px 10px 10px 20px;
}

.timeCreated,
.timeUpdated {
    white-space: nowrap;
}

nav.vl-tools {
    float: right;
    font-size: 16px;
    display: flex;
}

.selected {
    font-weight: var( --font-weight-bold );
}

.left {
    float: left;
}
.right {
    float: right;
}

div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-create,
div.net-ubos-underbars-OptionalPropertyEditWrapperHelper-remove {
    font-size: 70%;
    line-height: 32px;
}

table.meshobjectproperties {
    min-width: 400px;
    margin: 2em auto;
    background: var( --region-color );
    border: 1px solid var( --element-border-color );
}
table.meshobjectproperties th {
    text-align: right;
    width: 25%;
}

table.meshobjectproperties th,
table.meshobjectproperties td {
    padding: 10px;
    vertical-align: top;
}

div.vl-inlined {
    padding: 5px;
    width: 100%;
}
div.vl-inlined p {
    margin: 0;
    padding: 0;
}
div.vl-inlined span.h {
    font-weight: var( --font-weight-bold );
}

div.breadcrumbs ul {
    margin: 0;
    padding: 0;
}
div.breadcrumbs li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
div.breadcrumbs li + li:before {
    content: "\232A\232A";
    margin: 0 1ex;
}
