{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl }}

 <h2>Attributes</h2>

 <table class="properties facts">
  <thead>
   <tr>
    <th class="type">(Untyped)</th>
    <th class="name">
{{#   if (neq  vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#     html:overlay label="Add an Attribute to this MeshObject" labelCssClass="button add" }}
{{        html:overlay:content fragment="HttpShell/AddAttribute" on=subject action=postUrl submitLabel="Add" }}
{{/     html:overlay}}
     </div>
{{/   if }}
     Attribute Name
    </th>
    <th class="value">Attribute Value</th>
   </tr>
  </thead>
  <tbody>
{{#   each ( mesh:attributeNames meshObject=subject ) }}
{{#     util:var .. name="attributeName" value=this }}
   <tr>
    <th class="type">&ndash;</th>
    <td>
{{#       if (neq vl.state.name "Edit" ) }}
      <div class="slide-in-button">
{{#         html:overlay .. label="Delete this Attribute" labelCssClass="button delete" }}
{{            html:overlay:content .. fragment="HttpShell/DeleteAttribute" on=subject attributeName=attributeName action=postUrl submitLabel="Delete" }}
{{/         html:overlay}}
      </div>
{{/     if }}
{{        attributeName }}
    </td>
    <td>
{{        mesh:attribute .. meshObject=meshObject attributeName=attributeName }}
    </td>
   </tr>
{{/     util:var }}
{{/   each }}
  </tbody>
 </table>

{{/ vl:vl }}
