{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.album/net.ubos.underbars.vl.album.css" }}

{{# vl:vl }}

<p><span class="h">Facebook Album</span>
&quot;{{ mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookAlbum_Name" }}&quot;
with
{{ set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookAlbum_Collects_MediaObject-S" ) }}
Media Objects
</p>

<div class="preview">
{{#   each ( set:clip . meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookAlbum_Collects_MediaObject-S" ) max=9 ) }}
 <div class="photo">
{{#     mesh:meshObjectLink .. meshObject=this }}
{{        vl:vlIncludeInline .. name="net.ubos.underbars.vl.mediaproperty" subject=this }}
{{/     mesh:meshObjectLink }}
 </div>
{{/   each }}
</div>

{{/ vl:vl }}
