{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.album/net.ubos.underbars.vl.album.css" }}

{{# vl:vl }}

 <h1>Facebook Album: {{ mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookAlbum_Name" }}</h1>
 <p>Last updated on: {{ mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookAlbum_LastUpdatedWhen" }}</p>
{{#   if ( mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookAlbum_Description" nullContent="" ) }}
 <p>Description: {{ mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookAlbum_Description" }}</p>
{{/   if }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <ul class="photos">
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#      each ( set:sort . meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookAlbum_Collects_MediaObject-S" ) sortByPropertyType="net.ubos.model.Blob/MediaObject_CreatedWhen" ) }}
  <li>
   <div class="photo">
{{#        mesh:meshObjectLink .. meshObject=this }}
{{           vl:vlIncludeInline .. name="net.ubos.underbars.vl.mediaproperty" subject=this }}
{{/        mesh:meshObjectLink }}
   </div>
   <div class="meta">
    <table>
     <tr>
      <th>Title:</th>
      <td>
{{#          mesh:meshObjectLink .. meshObject=this }}
{{             mesh:property .. meshObject=this propertyType="net.ubos.model.Blob/MediaObject_Title" }}
{{/          mesh:meshObjectLink }}
      </td>
     </tr>
     <tr>
      <th>Created:</th>
      <td>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Blob/MediaObject_CreatedWhen" }}</td>
     </tr>
     <tr>
      <th>Description:</th>
      <td>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Blob/MediaObject_Description" }}</td>
     </tr>
    </table>
   </div>
  </li>
{{/      each }}

{{/     bracket:content }}
{{#     bracket:ifContent }}
 </ul>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
<p>The album is empty.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}


{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<h2>Comments:</h2>
<ul class="comments">
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_InResponseTo_Any-D" ) }}

<li>
 <p class="content">
{{#         mesh:meshObjectLink .. meshObject=this }}
{{            mesh:property .. meshObject=this propertyType="net.ubos.model.ThreadedNotes/Note_Content" }}
{{/         mesh:meshObjectLink}}
 </p>

 <p class="meta">
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
  by
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:meshObject ../.. meshObject=this }}{{/ mesh:meshObjectLink }}
{{#           each ( mesh:traverse ../.. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
  of
{{#             mesh:meshObjectLink ../../.. meshObject=this }}{{ mesh:property ../../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" }}{{/ mesh:meshObjectLink }}
{{/           each }}
{{/         each }}


{{#         bracket:bracket }}
{{#           bracket:ifContent }}
on
{{/           bracket:ifContent }}
{{#           bracket:content }}
{{              mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookComment_CreatedWhen" nullContent="" }}
{{/           bracket:content }}
{{/         bracket:bracket }}
 </p>
</li>
{{/       each }}


{{/     bracket:content }}

{{#     bracket:ifContent }}
</ul>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
