div.net-ubos-underbars-vl-addressbook > div.frames {
    display: flex;
    justify-content: space-between;
}
div.net-ubos-underbars-vl-addressbook div.people {
    width: 28%;
    max-height: 85vh;
    overflow-y: scroll;
    border: 1px solid #a0a0a0;
}

div.net-ubos-underbars-vl-addressbook ul.people {
    margin: 0;
    padding: 0;
}

div.net-ubos-underbars-vl-addressbook ul.people > li {
    list-style: none;
    margin:  0;
    padding: 1ex;
    border: 1px solid #808080;
    background: var( --region-color );
}

div.net-ubos-underbars-vl-addressbook div.person {
    width: 70%;
}

div.net-ubos-underbars-vl-addressbook iframe {
    width: 100%;
    min-height: 800px;
    border-width: 0;
}
