{{ util:assertParam name="on" null=false type="net.ubos.mesh.MeshObject" }}

<h2>Edit Advertiser</h2>

<table>
{{# each ( util:list .
                     "net.ubos.model.Marketing/Advertiser_Name"
                     "net.ubos.model.Marketing/Advertiser_StreetAddress"
                     "net.ubos.model.Marketing/Advertiser_City"
                     "net.ubos.model.Marketing/Advertiser_ZipCode"
                     "net.ubos.model.Marketing/Advertiser_PrivacyRequestUrl" ) }}
 <tr>
  <th>{{ mesh:meshType .. meshTypeId=this }}:</th>
  <td>
{{ mesh:property .. meshObject=on propertyType=this stringRepresentation="EditHtml" }}
  </td>
 </tr>
{{/ each }}
</table>
