{{ util:assertParam name="on" null=false type="net.ubos.mesh.MeshObject" }}

<h2>Edit Annotation</h2>

{{# each ( util:list .
                     "net.ubos.model.ThreadedNotes/Note_Subject"
                     "net.ubos.model.ThreadedNotes/Note_Content" ) }}
 <tr>
  <th>{{ mesh:meshType .. meshTypeId=this }}:</th>
  <td>
{{ mesh:property .. meshObject=on propertyType=this stringRepresentation="EditHtml" showUpload="false" }}
  </td>
 </tr>
{{/ each }}
</table>
