div.net-ubos-underbars-vl-post table.content {
    width: 100%;
    margin-top: 40px;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}
div.net-ubos-underbars-vl-post table.content tr.content td {
    height: 150px;
}

div.net-ubos-underbars-vl-post table th {
    text-align: right;
    width: 16%;
}

div.net-ubos-underbars-vl-post table th,
div.net-ubos-underbars-vl-post table td {
    padding: 10px;
    vertical-align: top;
}
