{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.interest/net.ubos.underbars.vl.interest.css" }}

{{# vl:vl }}

<h1>Marketing interest</h1>

<table class="meshobjectproperties">
 <tr>
  <th>Name:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/Interest_Name" }}</td>
 </tr>
{{# util:var name="specialization" value= ( mesh:traverseToSingle meshObject=subject traverse="net.ubos.model.Amazon/AmazonAudience_IsSpecializationOf_AmazonAudience-S" ) }}
{{#   if specialization }}
 <tr>
  <th>Is specialization of:</th>
  <td>{{# mesh:meshObjectLink meshObject=specialization }}{{ mesh:meshObject meshObject=specialization }}{{/ mesh:meshObjectLink }}</td>
 </tr>
{{/   if }}
{{/ util:var }}

{{# util:var name="collections" value= ( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/InterestCollection_Collects_Interest-D" ) }}
{{#   unless collections.empty }}
 <tr>
  <th rowspan="{{ collections.size }}">Part of collection:</th>
  <td>
   <ul>
{{# each collections }}
    <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}</td>
{{/ each }}
   </ul>
  </td>
 </tr>
{{/   unless }}
{{/ util:var }}

</table>

{{/ vl:vl }}
