div.net-ubos-underbars-vl-album > ul.photos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

div.net-ubos-underbars-vl-album > ul.photos > li {
    width: 30%;
    min-width: 300px;
    margin: 1em;
    padding: 1em;
    list-style: none;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.net-ubos-underbars-vl-album > ul.photos > li > div.meta {
    margin-top: 2em;
    font-size: var( --font-size-small );
}
div.net-ubos-underbars-vl-album > ul.photos > li > div.meta th,
div.net-ubos-underbars-vl-album > ul.photos > li > div.meta td {
    vertical-align: top;
    padding: 0 1ex;
}

div.net-ubos-underbars-vl-album > ul.comments > li {
    margin: 16px 0;
}

div.net-ubos-underbars-vl-album > ul.comments p {
    padding: 0;
    margin: 4px 0;
}

div.net-ubos-underbars-vl-album > ul.comments p.content {
    border: 1px solid var( --element-border-color );
    background: var( --element-background-color );
    padding: 12px;
}

div.net-ubos-underbars-vl-album.vl-inlined div.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
}
div.net-ubos-underbars-vl-album.vl-inlined div.preview div.photo {
    max-width: 100px;
    max-height: 75px;
    overflow: hidden;
    margin-left: 1ex;
}

div.net-ubos-underbars-vl-album div.net-ubos-underbars-vl-mediaproperty {
    text-align: center;
}
