div.net-ubos-underbars-vl-productoffering.vl table.offering,
div.net-ubos-underbars-vl-productoffering.vl div.purchased {
    width: 60%;
    min-width: 400px;
    margin: 2em auto;
    background: var( --region-color );
}

div.net-ubos-underbars-vl-productoffering.vl div.purchased {
    padding: 1em;
}
