div.net-ubos-underbars-vl-collection.vl ul {
    padding: 1em;
    background: #fff;
}
ul.content > li {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}

ul.content > li > div {
    flex-grow: 1;
}

ul.content > li > div.identifier {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 6px 25px 0 10px;
    width: 2px;
}

div.net-ubos-underbars-vl-genericsummary {
    background: #fff;
}
