div.net-ubos-underbars-vl-csv table pre {
    margin-top: 0;
    margin-bottom: 0;
}

div.net-ubos-underbars-vl-csv table.attributes2 {
    margin: 3em auto 0 auto;
    min-width: 60%;
}

div.net-ubos-underbars-vl-csv div.content {
    margin: 0 auto;
}

div.net-ubos-underbars-vl-csv table.content {
    background: var( --region-color );
    overflow-x: scroll;
    margin: auto;
}

div.net-ubos-underbars-vl-csv table.content th,
div.net-ubos-underbars-vl-csv table.content td {
    border: 1px solid var( --element-border-color );
    padding: 2px;
}
