{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.account/net.ubos.underbars.vl.account.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshType meshObject=subject }}</h1>

{{# bracket:bracket }}
{{#   bracket:ifContent }}
<table class="meshobjectproperties">
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:propertyTypes .. meshObject=subject ) }}
{{#       if ( mesh:property .. meshObject=subject propertyType=this nullContent="" ) }}
 <tr>
  <th>{{ mesh:meshType .. meshType=this }}</th>
  <td>{{ mesh:property .. meshObject=subject propertyType=this }}</td>
 </tr>
{{/       if }}
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
</table>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

{{# bracket:bracket }}
{{#   bracket:ifContent }}
<table class="meshobjectproperties">
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Identity/Principal_MayUse_Account-D" ) }}
{{#       util:var .. name="principal" value=this }}
 <tbody>
  <th colspan="2" class="profile-header">Associated profile</th>
{{#         each ( mesh:propertyTypes ../.. meshObject=principal ) }}
{{#           if ( mesh:property ../.. meshObject=principal propertyType=this nullContent="" ) }}
 <tr>
  <th>{{ mesh:meshType ../.. meshType=this }}</th>
  <td>{{ mesh:property ../.. meshObject=principal propertyType=this }}</td>
 </tr>
{{/           if }}
{{/         each }}
{{#         each ( mesh:traverse ../.. meshObject=principal traverse="net.ubos.model.Identity/PrincipalProfile_For_Principal-D" ) }}
{{#           util:var ../.. name="profile" value=this }}
{{#             each ( mesh:propertyTypes ../.. meshObject=profile ) }}
{{#               if ( mesh:property ../../.. meshObject=profile propertyType=this nullContent="" ) }}
 <tr>
  <th>{{ mesh:meshType ../../.. meshType=this }}</th>
  <td>{{ mesh:property ../.. meshObject=profile propertyType=this }}</td>
 </tr>
{{/               if }}
{{/             each }}
{{/           util:var }}
{{/         each }}

{{/       util:var }}
 </tbody>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
</table>
{{/   bracket:ifContent }}

{{#   bracket:notIfContent }}
<p>No profile or other account details are available.</p>
{{/   bracket:notIfContent }}
{{/ bracket:bracket }}

<div class="tiles">

{{# bracket:bracket }}
{{#   bracket:ifContent }}
 <div class="tile">
  <h2>Search queries performed</h2>
  <table class="search">
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( set:clip meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Search/Account_Performs_SearchQuery-S" ) max=20 )}}
   <tr>
    <th>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Search/SearchQuery_PerformedWhen" }}:</th>
    <td>&quot;{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Search/SearchQuery_Query" }}{{/ mesh:meshObjectLink }}&quot;</td>
   </tr>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </table>
{{#     if ( gt ( set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Search/Account_Performs_SearchQuery-S" )) 20 ) }}
  <p>... and more ({{ set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Search/Account_Performs_SearchQuery-S" ) }} total).</p>
{{/     if }}
 </div>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

{{# bracket:bracket }}
{{#   bracket:ifContent }}
 <div class="tile">
  <h2>Member of marketing audiences</h2>
  <ul>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( set:clip meshObjectSet=( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/Advertiser_BringsAudienceIncluding_Account-D" ) sortByPropertyType="net.ubos.model.Marketing/Advertiser_Name" ) max=20 )}}
   <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}</li>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </ul>
{{#     if ( gt ( set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/Advertiser_BringsAudienceIncluding_Account-D" )) 20 ) }}
  <p>... and more ({{ set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/Advertiser_BringsAudienceIncluding_Account-D" ) }} total).</p>
{{/     if }}
 </div>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

</div>

{{/ vl:vl }}
