div.net-ubos-underbars-vl-transactionlog.vl {
}

div.net-ubos-underbars-vl-transactionlog.vl-contained {
    padding: 5px;
}
div.net-ubos-underbars-vl-transactionlog.vl-contained p {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-transactionlog.vl-contained span.h {
    font-weight: var( --font-weight-bold );
}

div.net-ubos-underbars-vl-transactionlog.vl table.log {
    width: 100%;
    table-layout: fixed;
}
div.net-ubos-underbars-vl-transactionlog.vl table.log thead,
div.net-ubos-underbars-vl-transactionlog.vl table.log col {
    border: 1px solid #808080;
}
div.net-ubos-underbars-vl-transactionlog.vl table.log th,
div.net-ubos-underbars-vl-transactionlog.vl table.log td {
    padding: 1ex;
}
div.net-ubos-underbars-vl-transactionlog.vl table.log tbody th,
div.net-ubos-underbars-vl-transactionlog.vl table.log tbody td {
    vertical-align: top;
}

div.net-ubos-underbars-vl-transactionlog.vl table.log th:first-child {
    width: 20%;
}
div.net-ubos-underbars-vl-transactionlog.vl table.log tbody:nth-child(2n) {
    background: rgba(255,255,255,0.2);
}
div.net-ubos-underbars-vl-transactionlog.vl table.log ul {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-transactionlog.vl table.log li {
    list-style-position: outside;
    margin: 0 0 0 .5ex;
    padding: 0 .5ex;
}
