{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl }}

 <h2>RoleTypes and RoleProperties</h2>

{{#   bracket:bracket }}
{{#     bracket:content }}

{{#   each ( mesh:neighbors meshObject=subject ) }}
{{#     util:var .. name="neighbor" value=this }}

 <h3>Neighbor: {{# mesh:meshObjectLink ../.. meshObject=neighbor }}{{ mesh:meshObjectId ../.. meshObject=neighbor }}{{/ mesh:meshObjectLink }}</h3>

 <table class="properties facts">
  <thead>
   <tr>
    <th class="type">RoleType</th>
    <th class="name">
{{#       if ( neq vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#         html:overlay label="Bless a role with this neighbor" labelCssClass="button blessrole" }}
{{            html:overlay:content fragment="HttpShell/BlessRole" from=subject to=neighbor action=postUrl submitLabel="Bless role" }}
{{/         html:overlay}}
     </div>
{{/       if }}
    RolePropertyType
    </th>
    <th class="value">RolePropertyValue</th>
   </tr>
  </thead>
  <tbody>
{{#       each ( mesh:roleTypes .. meshObject=subject neighbor=neighbor ) }}
{{#         util:var ../.. name="roleType" value=this }}
   <tr>
    <th class="relationshipType tipcontainer" colspan="3">
{{#           if ( neq vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#             html:overlay label="Unbless this role with this neighbor" labelCssClass="button unblessrole" }}
{{                html:overlay:content fragment="HttpShell/UnblessRole" from=subject to=neighbor roleType=roleType action=postUrl submitLabel="Unbless role" }}
{{/             html:overlay}}
     </div>
{{/           if }}
{{            mesh:meshType .. meshType=roleType }}<span class="tip">MeshTypeId: {{ mesh:meshTypeId meshType=roleType }}</span>
    </th>
   </tr>
{{#           each ( mesh:rolePropertyTypes .. meshObject=subject neighbor=neighbor roleType=roleType ) }}
{{#             util:var name="rolePropertyType" value=this }}
   <tr>
    <th class="type"></th>
    <td class="name tipcontainer">
{{                mesh:meshType .. meshType=rolePropertyType }}<span class="tip">MeshTypeId: {{ mesh:meshTypeId .. meshType=rolePropertyType }}</span>
    </td>
    <td class="value">
{{                mesh:roleProperty .. meshObject=meshObject neighbor=neighbor rolePropertyType=rolePropertyType }}
    </td>
   </tr>
{{/             util:var }}
{{/           each }}
{{/         util:var }}
{{/       each }}
  </tbody>
 </table>
{{/     util:var }}
{{/   each }}

{{/     bracket:content }}
{{#     bracket:notIfContent }}
{{#       if ( neq vl.state.name "Edit" ) }}
{{#         html:overlay label="Bless a role with this neighbor" labelCssClass="button blessrole" }}
{{            html:overlay:content fragment="HttpShell/BlessRole" from=subject to=neighbor action=postUrl submitLabel="Bless role" }}
{{/         html:overlay}}
 <p>None.</p>
{{/       if }}
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
