{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.addressbook/net.ubos.underbars.vl.addressbook.css" }}

{{# vl:vl }}

 <h1>Address Book</h1>

 <div class="frames">
  <div class="people">
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
   <ul class="people">
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Structure/Collection_Collects_Any-S" ) sortByPropertyType="net.ubos.model.Person/Person_FullName" ) }}
    <li>
{{#         mesh:meshObjectLink .. meshObject=this target="person" extra="skinType=iframe_2d&showAlternatives=false" }}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Person/Person_FullName" }} {{/ mesh:meshObjectLink }}
    </li>
{{/       each }}

{{/     bracket:content }}
{{#     bracket:ifContent }}
   <ul>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
   <p>No contacts.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}
  </div>
  <div class="person">
   <iframe name="person">
<p>Select something</p>
   </iframe>
  </div>
 </div>

{{/ vl:vl }}
