div.net-ubos-underbars-vl-comment table.content {
    width: 100%;
    margin-top: 40px;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}
div.net-ubos-underbars-vl-comment table.content th,
div.net-ubos-underbars-vl-comment table.content td {
    padding: 10px;
    vertical-align: top;
}

div.net-ubos-underbars-vl-comment table.content tr.content td {
    height: 150px;
}
