div.net-ubos-underbars-vl-meshbase > h1 {
    text-align: center;
}

div.net-ubos-underbars-vl-meshbase > div.nav {
    min-height: 35px;
}
div.net-ubos-underbars-vl-meshbase > div.nav > div.left {
    float: left;
    margin: 3px 10px 0 10px;
}
div.net-ubos-underbars-vl-meshbase > div.nav > div.right {
    float: right;
    margin: 3px 10px 0 10px;
}
div.net-ubos-underbars-vl-meshbase > div.nav > div.middle {
    text-align: center;
    margin: 15px 0;
}
div.net-ubos-underbars-vl-meshbase > div.nav > div.middle div.middle-item {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

div.net-ubos-underbars-vl-meshbase > ul.content {
    margin: 2em 0;
    padding: 0;
}
div.net-ubos-underbars-vl-meshbase > ul.content > li {
    list-style-type: none;
    margin: 0.5ex 0;
    padding: 1ex 0;
    border: 1px solid var( --element-border-color );
    background: #fff;
}
div.net-ubos-underbars-vl-meshbase > ul.content > li > span.link {
    float: left;
    margin-top: 2px;
}
div.net-ubos-underbars-vl-meshbase > ul.content > li > span.link > span.identifier {
    margin-left: 10px;
}

div.net-ubos-underbars-vl-meshbase span.button.create:before {
    content: url(add.png);
}
div.net-ubos-underbars-vl-meshbase span.button.create span {
    display: none;
}
