{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.person/net.ubos.underbars.vl.person.css" }}

{{# vl:vl }}

 <div class="card">
  <div class="top">
   <div class="picture">
    <div class="picture-placeholder"></div>
   </div>
   <div class="keydata">
    <h1 class="fullname">
{{    mesh:property meshObject=subject propertyType="net.ubos.model.Person/Person_FullName" }}
    </h1>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
    <table>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_Uses_Any-S net.ubos.model.Google/GoogleAddressBookEntry_Contains_GoogleAddressBookEmail-S" ) }}
     <tr>
      <th>E-mail:</th>
      <td>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Google/GoogleAddressBookEmail_EmailAddress" }}</td>
     </tr>
{{/       each }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_Uses_Any-S net.ubos.model.Google/GoogleAddressBookEntry_Contains_GoogleAddressBookUrl-S" ) }}
     <tr>
      <th>URL:</th>
      <td>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Google/GoogleAddressBookUrl_URL" }}</td>
     </tr>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
    </table>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}
   </div>
  </div>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
  <table class="details">
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       bracket:bracket }}
{{#         bracket:ifContent }}
   <tr>
    <th>On-line profiles:</th>
    <td>
     <ul>
{{/         bracket:ifContent }}
{{#         bracket:content }}
{{#           each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_Uses_Any-S" ) }}
      <li>
{{#             mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
      </li>
{{/           each }}
{{/         bracket:content }}
{{#         bracket:ifContent }}
     </ul>
    </td>
   </tr>
{{/         bracket:ifContent }}
{{/       bracket:bracket }}

{{#       bracket:bracket }}
{{#         bracket:ifContent }}
   <tr>
    <th>Online friends:</th>
    <td>
     <ul>
{{/         bracket:ifContent }}
{{#         bracket:content }}
{{#           each ( mesh:traverse meshObject=subject
traverse="net.ubos.model.Person/Person_Uses_Any-S net.ubos.model.Identity/AccountProfile_For_Account-S net.ubos.model.Social/Account_IsFriendsWith_Account-T net.ubos.model.Identity/AccountProfile_For_Account-D net.ubos.model.Person/Person_Uses_Any-D" ) }}
      <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Person/Person_FullName" }}{{/ mesh:meshObjectLink }}</li>
{{/           each }}
{{/         bracket:content }}
{{#         bracket:ifContent }}
     </ul>
    </td>
   </tr>
{{/         bracket:ifContent }}
{{/       bracket:bracket }}

{{/     bracket:content }}
{{#     bracket:ifContent }}
  </table>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

  </div>
 </div>

{{/ vl:vl }}
