{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.person/net.ubos.underbars.vl.person.css" }}

{{# vl:vl }}

 <div class="name">
  <span class="h">Person</span>
{{#   mesh:meshObjectLink meshObject=subject }}
{{      mesh:property meshObject=subject propertyType="net.ubos.model.Person/Person_FullName" nullContent="(unnamed)" }}
{{/   mesh:meshObjectLink }}

 </div>

 <div class="location">
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
  <ul>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_ResidesAt_Location-S" ) }}
   <li>
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
   </li>
{{/       each }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_WorksAt_Location-S" ) }}
   <li>
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
   </li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
  </ul>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

 </div>
 <div class="accounts">
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
  <ul>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Person/Person_Uses_Any-S" ) }}
   <li>
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
   </li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
  </ul>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}
 </div>

{{/ vl:vl }}
