div.net-ubos-underbars-vl-mediaobject {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    border-radius: 10px;
    background: #fff;
}
div.net-ubos-underbars-vl-mediaobject > * {
    padding: 20px;
}
div.net-ubos-underbars-vl-mediaobject > div.meta {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: var( --font-size-small );
    width: 20%;
}
div.net-ubos-underbars-vl-mediaobject > a.link {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
}

div.net-ubos-underbars-vl-mediaobject > div.meta th,
div.net-ubos-underbars-vl-mediaobject > div.meta td {
    padding: 1ex;
    vertical-align: top;
}
div.net-ubos-underbars-vl-mediaobject > div.meta ul {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-mediaobject > div.meta li {
    margin: 0;
    padding: 0;
    list-style: none;
}
