Facebook Partner,When,Type,Unknown
{{# each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookPartnerEvent_OccursAt_FacebookPartner-D" ) }}{{ util:comment
}}{{ mesh:meshObject .. meshObject=subject stringRepresentation="plain" }},{{ util:comment
}}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_When" stringRepresentation="plain" }},{{ util:comment
}}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_Type" stringRepresentation="plain" }},{{ util:comment
}}{{# each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Facebook/FacebookPartnerEvent_Identifies_FacebookPartnerEventUnknown-S" ) }}{{ util:comment
}}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEventUnknown_ID" stringRepresentation="plain" }}{{/ each }}
{{/ each }}
