{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.advertiser/net.ubos.underbars.vl.advertiser.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{ mesh:meshType meshObject=subject }}: {{ mesh:meshObject meshObject=subject }}</span>
</p>

{{/ vl:vl }}
