{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.advertiser/net.ubos.underbars.vl.advertiser.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshType meshObject=subject }}: {{ mesh:meshObject meshObject=subject }}</h1>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<table class="meshobjectproperties">
{{/     bracket:ifContent }}
{{#     bracket:content }}
 <tr>
  <th>{{ mesh:meshType meshTypeId="net.ubos.model.Marketing/Advertiser_Name" }}:</th>
  <td>
   <div class="slide-in-button">
    <a target="_new" href="https://duckduckgo.com/?q={{ mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/Advertiser_Name" stringRepresentation="plain"}}"
       label="Search for advertiser online">
     <img src="/s/net.ubos.underbars.vl.advertiser/DDG-iOS-icon_60x60.png" height=16 width=16>
    </a>
   </div>
{{        mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/Advertiser_Name" }}
  </td>
 </tr>

{{#       each ( util:list .
                           "net.ubos.model.Marketing/Advertiser_StreetAddress"
                           "net.ubos.model.Marketing/Advertiser_City"
                           "net.ubos.model.Marketing/Advertiser_ZipCode"
                           "net.ubos.model.Marketing/Advertiser_PrivacyRequestUrl" ) }}
 <tr>
  <th>{{   mesh:meshType .. meshTypeId=this }}:</th>
  <td>
{{          mesh:property .. meshObject=subject propertyType=this }}
  </td>
 </tr>

{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</table>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

<div class="interactions">
 <table class="interactions">
  <thead>
   <tr>
    <th>Interaction</th>
    <th>When</th>
    <th>Type</th>
   </tr>
  </thead>
{{#   bracket:bracket }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/AdvertisementInteraction_WithAdvertisementBy_Advertiser-D" ) }}
  <tr>
   <td>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}</td>
   <td>{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Marketing/AdvertisementInteraction_When" }}</td>
   <td>&quot;{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Marketing/AdvertisementInteraction_Type" }}&quot;</td>
  </tr>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:notIfContent }}
  <tr>
   <td class="center" colspan="3">None.</td>
  </tr>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}
 </table>
</div>

{{/ vl:vl }}
