{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.annotation/net.ubos.underbars.vl.annotation.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{ mesh:meshObject meshObject=subject }}</span>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" }}
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 on
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_InResponseTo_Any-S" ) }}
{{          mesh:meshObject .. meshObject=this }}
{{/       each }}
{{/     bracket:content }}
{{/   bracket:bracket }}
</p>

{{/ vl:vl }}
