{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.annotation/net.ubos.underbars.vl.annotation.css" }}

{{# vl:vl formId="vl" showChangeState="true" viewletStates="Edit" }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

<div class="meshobjectproperties">
 <table>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
  <tr>
   <th>On:</th>
   <td>
    <ul>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_InResponseTo_Any-S" ) }}
     <li>
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
      ({{ mesh:meshType .. meshObject=this }})
     </li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
    </ul>
   </td>
  <tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{#   each ( util:list .
                     "net.ubos.model.ThreadedNotes/Note_Subject"
                     "net.ubos.model.ThreadedNotes/Note_Content" ) }}
  <tr>
   <th>{{ mesh:meshType .. meshTypeId=this }}:</th>
   <td>
{{      mesh:property .. meshObject=subject propertyType=this }}
   </td>
  </tr>
{{/   each }}
 </table>
</div>

{{#   if (eq vl.state.name "Edit" ) }}
  <div class="dialog-buttons">
{{      util:safeFormHiddenInput }}
   <input id="shell.submit" type="hidden" name="shell.submit" value="" />
   <table class="dialog-buttons">
    <tr>
     <td><button type="button" name="ViewletStateTransition" value="do-cancel" class="cancel" onclick="document.getElementById( 'shell.submit' ).value='cancel'; document.getElementById('vl').submit()">Discard</button></td>
     <td><button type="submit" name="ViewletStateTransition" value="do-commit" class="commit" onclick="document.getElementById( 'shell.submit' ).value='commit'; document.getElementById('vl').submit()">Save</button></td>
    </tr>
   </table>
  </div>
{{/   if }}
{{/ vl:vl }}
