{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.portal/net.ubos.underbars.vl.portal.css" }}

{{  util:comment "==================== partial ====================" }}

{{# partial "paginate" }}
  <nav class="paginate">
   <ul>
    <li>{{ paginate:goToFirst  imgAlt="Go to first" img="/s/net.ubos.underbars.vl.portal/control_start_blue.png"       inactiveImg="/s/net.ubos.underbars.vl.portal/control_start.png"       }}</li>
    <li>{{ paginate:goBackward imgAlt="Go back"     img="/s/net.ubos.underbars.vl.portal/control_rewind_blue.png"      inactiveImg="/s/net.ubos.underbars.vl.portal/control_rewind.png"      }}</li>
    <li>{{ paginate:goForward  imgAlt="Go forward"  img="/s/net.ubos.underbars.vl.portal/control_fastforward_blue.png" inactiveImg="/s/net.ubos.underbars.vl.portal/control_fastforward.png" }}</li>
    <li>{{ paginate:goToLast   imgAlt="Go to last"  img="/s/net.ubos.underbars.vl.portal/control_end_blue.png"         inactiveImg="/s/net.ubos.underbars.vl.portal/control_end.png"         }}</li>
   </ul>
  </nav>
{{/ partial }}

{{  util:comment "==================== partial ====================" }}

{{# partial "searchform" }}
{{#   util:safeForm method="GET"}}
 <div class="search">
  <div class="search1">
   <div class="button">
    <img src="/s/net.ubos.underbars.vl.portal/magnifying-glass.svg">
   </div>
   <input type="text" name="search" value="{{ vl:vlParam vl "search" }}" />
   <div class="input">
    <input type="hidden" name="show-types" value="{{ vl:vlParam vl "show-types" }}" />
   </div>
  </div>
{{#     if vl.showTypesIdentifier }}
  <div class="search2">
   Searching {{ mesh:meshType meshTypeId=vl.showTypesIdentifier }}.
  </div>
{{/     if }}
 </div>
{{/   util:safeForm }}
{{/ partial }}

{{  util:comment "==================== partial ====================" }}

{{# partial "filtered" }}
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <div class="separator"></div>
 <div class="content">
{{        block "paginate" }}
{{#       if vl.showTypesUserVisibleName }}
  <h2>{{ util:capitalize vl.showTypesUserVisibleName type="first" }}</h2>
{{        else }}
  <div style="clear: both"></div>
{{/       if }}
  <ul class="content">
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       each vl.withinPageIterator}}
   <li>
    <div class="identifier">
{{#         mesh:meshObjectLink .. meshObject=this }}&#x2192;{{/ mesh:meshObjectLink }}
    </div>

{{          vl:vlIncludeInline .. subject=this vldetq="overview" }}
   </li>
{{/       each}}
{{/     bracket:content }}
{{#     bracket:ifContent }}
  </ul>
{{        block "paginate" }}
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}

  <div class="content">
   <p>No data found.</p>
  </div>

{{/     bracket:notIfContent }}
{{/   bracket:bracket }}
{{/ partial }}

{{  util:comment "==================== partial ====================" }}

{{# partial "browse" }}

{{#   bracket:bracket }}

{{#     bracket:ifContent }}
  <div class="browse" id="browse">
   <h2>Data categories</h2>
   <div class="categories">
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each modelBase.orderedLoadedSubjectAreas }}
{{#         if ( ia:showMeshTypeInUi .. meshType=this ) }}
{{#           bracket:bracket }}

{{#             bracket:ifContent }}
    <div class="category">
     <h3>{{ util:capitalize this.userVisibleName.value type="veryfirst" }}</h3>
     <ul>
{{/             bracket:ifContent }}
{{#             bracket:content }}
{{#               each this.orderedEntityTypes }}
{{#                 unless this.isAbstract.value }}
{{#                   if ( ia:showMeshTypeInUi ../.. meshType=this ) }}

{{ util:comment msg="If size > 1, link goes to this Viewlet, with the show-types= argument" }}

{{#                     if ( gt ( set:size ../.. meshObjectSet=( meshBaseIndex:searchForBlessedWith ../.. meshType=this )) 1 ) }}
      <li{{# eq vl.showTypesIdentifier this.identifier }} class="selected"{{/ eq }}>
{{#                       mesh:meshObjectLink ../.. meshObject=subject extra=( util:concat "show-types=" ( mesh:meshTypeId ../.. meshType=this ))
}}{{ util:capitalize this.userVisibleName.value type="veryfirst" }}{{/ mesh:meshObjectLink
}}<span class="size">({{ set:size ../.. meshObjectSet=( meshBaseIndex:searchForBlessedWith ../.. meshType=this ) }})</span>
      </li>
{{/                     if }}

{{ util:comment msg="If size == 1, link directly to the single member of the set" }}

{{#                     if ( eq ( set:size ../.. meshObjectSet=( meshBaseIndex:searchForBlessedWith ../.. meshType=this )) 1 ) }}
      <li{{# eq vl.showTypesIdentifier this.identifier }} class="selected"{{/ eq }}>
{{#                       each (meshBaseIndex:searchForBlessedWith ../.. meshType=this) }}
{{#                         mesh:meshObjectLink ../../.. meshObject=this }}{{ util:capitalize ../this.userVisibleName.value type="veryfirst" }}{{/ mesh:meshObjectLink}}<span class="size">(1)</span>
{{/                       each }}
{{/                     if }}
{{/                   if }}
{{/                 unless }}
{{/               each }}
{{/             bracket:content }}
{{#             bracket:ifContent }}
     </ul>
    </div>
{{/             bracket:ifContent }}
{{/           bracket:bracket }}
{{/         if }}
{{/       each }}

{{#       bracket:bracket }}
{{#         bracket:ifContent }}
    <div class="category">
     <h3>Imported raw</h3>
     <ul>
{{/         bracket:ifContent }}
{{#         bracket:content }}
{{#           each subject.meshBase.primaryNamespaceMap.namespaceIterator }}
{{#             unless ( eq this subject.meshBase.primaryNamespaceMap.primary ) }}
{{#               util:var .. name="obj" value=( mesh:meshObjectLookup .. namespace=this meshObjectId="" ) }}
{{#                 if obj }}
     <li>{{# mesh:meshObjectLink ../.. meshObject=obj }}{{ ../this }}{{/ mesh:meshObjectLink}}</li>
{{                  else }}
     <li>{{ ../this }}</li>
{{/                 if }}
{{/               util:var }}
{{/             unless }}
{{/           each }}

{{/         bracket:content }}
{{#         bracket:ifContent }}
     </ul>
    </div>
{{/         bracket:ifContent }}
{{/       bracket:bracket }}

{{/     bracket:content }}

{{#     bracket:ifContent }}
   </div>
  </div>
{{/     bracket:ifContent }}

{{/   bracket:bracket }}

{{/ partial }}


{{  util:comment "==================== main ====================" }}

{{# vl:vl formId="vl" }}

{{#   bracket:bracket }}

{{#     bracket:ifContent }}
{{        block "searchform" }}
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       if vl.isFiltered }}
{{          block "filtered" }}
{{        else }}
{{          block "browse" }}
{{/       if }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
{{/     bracket:ifContent }}

{{#     bracket:notIfContent }}
<div class="nodata">
 <p>No data. Import some data first.</p>
</div>
{{/     bracket:notIfContent }}

{{/   bracket:bracket }}

{{/ vl:vl }}
