<!DOCTYPE html>
<html>
 <head>
{{util:prepostfix sr.html_head_title "  <title>" "</title>" trim=true }}
  <link rel="stylesheet" href="{{CONTEXT}}/s/net.ubos.underbars.skin.world/net.ubos.underbars.skin.world.css">
{{html:insertHeaderLinks}}
{{html:insertHeaderScripts}}
{{sr.html_head}}
  <base target="_parent">
 </head>
 <body>
{{> content }}
 </body>
</html>
