{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.json/net.ubos.underbars.vl.json.css" }}

{{# vl:vl }}

<div class="breadcrumbs">
 <ul>
{{# mesh:repeatTraverseToSingle meshObject=subject traverse="roleAttribute-D:nb-rel" direction="reverse" max=10 }}
<li>{{# mesh:meshObjectLink .. meshObject=current }}{{ mesh:meshObjectId .. meshObject=current relativeto=previous }}{{/ mesh:meshObjectLink }}</li>
{{/ mesh:repeatTraverseToSingle }}
 </ul>
</div>

<h1>{{ mesh:meshType meshObject=subject nullContent="JSON file" }}</h1>

<table class="attributes1 meshobjectproperties">
 <tr>
  <th>Local ID:</th>
  <td>{{ mesh:meshObjectId meshObject=subject show="localid" nullContent="(top)" }}</td>
 </tr>
{{# if ( logic:hasAttribute meshObject=subject attributeName="importer" ) }}
 <tr>
  <th>Imported by:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="importer" }}</td>
 </tr>
{{/ if }}
 <tr>
  <th>Object type:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="nb-type" }}</td>
 </tr>
</table>

<pre>
{{ nb:json meshObject=subject indent="  " }}
</pre>

{{/ vl:vl }}
