{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.post/net.ubos.underbars.vl.post.css" }}

{{# vl:vl }}

<p>
 <span class="h">Facebook Post</span>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 created on
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookPost_CreatedWhen" nullContent="" }}
{{/     bracket:content }}
{{/   bracket:bracket }}
</p>

{{#   if ( mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Content" nullContent="" ) }}
{{      mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Content" }}
{{    else }}
{{#     if ( mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" nullContent="" ) }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" }}
{{/     if }}
{{/   if }}
</p>

{{/ vl:vl }}
