{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.message/net.ubos.underbars.vl.message.css" }}

{{# vl:vl }}

<p><span class="h">Message</span>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
   from
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" nullContent="Unidentified" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
{{/     bracket:content }}
{{/   bracket:bracket }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
   on
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookMessage_When" defaultValue="" }}
{{/     bracket:content }}
{{/   bracket:bracket }}
</p>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<p>Subject:
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{    mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" nullContent="" }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</p>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}
<p>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Content" }}
</p>

{{/ vl:vl }}
