{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl }}

 <h2>EntityTypes and Properties</h2>

 <table class="properties facts">
  <thead>
   <tr>
    <th class="type">
{{#   if (neq vl.state.name "Edit" ) }}
     <div class="slide-in-button">
{{#     html:overlay label="Bless this MeshObject" labelCssClass="button bless" }}
{{        html:overlay:content fragment="HttpShell/Bless" toBless=subject action=postUrl submitLabel="Bless" }}
{{/     html:overlay }}
     </div>
{{/   if }}
     Type
    </th>
    <th class="name">PropertyType</th>
    <th class="value">PropertyValue</th>
   </tr>
  </thead>
  <tbody>
{{#   each ( mesh:blessedBy meshObject=subject ) }}
{{#     util:var .. name="blessedBy" value=this }}
    <tr>
     <th class="relationshipType tipcontainer" colspan="3">
{{#       if (neq vl.state.name "Edit" ) }}
      <div class="slide-in-button">
{{#         html:overlay .. label="Unbless this MeshObject" labelCssClass="button unbless" }}
{{            html:overlay:content .. fragment="HttpShell/Unbless" toUnbless=subject meshType=blessedBy action=postUrl submitLabel="Unbless" }}
{{/         html:overlay}}
      </div>
{{/       if }}
{{        mesh:meshType .. meshType=blessedBy }}<span class="tip">MeshTypeId: {{ mesh:meshTypeId .. meshType=blessedBy }}</span>
     </th>
    </tr>
{{#       each ( mesh:propertyTypes .. meshObject=subject meshType=blessedBy ) }}
{{#         util:var ../.. name="propertyType" value=this }}
    <tr>
     <th class="type"></th>
     <td class="name tipcontainer">{{ mesh:meshType ../.. meshType=propertyType }}<span class="tip">MeshTypeId: {{ mesh:meshTypeId ../.. meshType=propertyType }}</span></td>
     <td class="value">
{{            mesh:property ../.. meshObject=subject propertyType=propertyType flavor=vl.viewletState.name }}
     </td>
    </tr>
{{/         util:var }}
{{/       each }}
{{/     util:var }}
{{/   each }}
  </tbody>
 </table>

{{/ vl:vl }}
