* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, div, p, dl, dt, ul, span, td, th, text {
  font-family: Helvetica, Arial, Sans-Serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

table {
  border-collapse: collapse;
}

img {
  border: 0;
}

a {
  text-decoration: none;
  color: #000060;
}

ul li {
  list-style-type: "\2027";
  padding-left: 0.8ex;
}

header {
  margin: 0 0 50px 0;
  padding: 0;
}

footer {
  clear: both;
  margin: 50px 0 0 0;
  padding: 1px 0; /* otherwise Chrome will collapse the enclosing container */
}

header > div.container,
footer > div.container,
main {
  max-width: 1240px;
  margin: 0 auto;
}

main {
  min-height: 300px;
}

header > div.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgba( 255, 255, 255, 0.5 );
}

div.errors {
    width: 100%;
    margin: 50px 0;
    padding: 10px 10px 0 10px;
    border: 1px solid;
    background: #fff0f0;
    border-color: red;
}
div.errors .stacktrace {
    font-size: 12px;
    overflow-x: scroll;
}
div.errors > h2 {
    margin: 0;
    color: red;
}
div.errors > ul {
    overflow-x: auto;
}
div.error {
    margin: 10px 10px 10px 20px;
}
footer {
    font-size: small;
}