{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.messagethread/net.ubos.underbars.vl.messagethread.css" }}

{{# vl:vl }}

<h1>Facebook Message Thread</h1>

<table class="meshobjectproperties tofrom">
 <tr>
  <th>Title:</th>
  <td>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookMessageThread_Title" }}
  </td>
 </tr>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>Participants:</th>
  <td>
   <ul>
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Discussion_Collects_Note-S net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
    <li>
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
    </li>
{{/     bracket:content }}
{{#     bracket:ifContent }}
   </ul>
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}
 <tr>
  <th>Category:</th>
  <td>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookMessageThread_Category" }}
  </td>
 </tr>
 <tr>
  <th>Type:</th>
  <td>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookMessageThread_Type" }}
  </td>
 </tr>
</table>

<div class="messages">
 <table class="messages">
  <thead>
   <col class="date">
   <col class="participant">
   <tr>
    <th>When</th>
    <th></th>
   </tr>
  </thead>
{{#   each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Discussion_Collects_Note-S" ) sortByPropertyType="net.ubos.model.Facebook/FacebookMessage_When" ) }}
  <tr>
   <td>
{{#     each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
{{#       mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:meshObject ../.. meshObject=this }}{{/ mesh:meshObjectLink }}
       of
{{#       each ( mesh:traverse ../.. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#         mesh:meshObjectLink ../../.. meshObject=this }}{{ mesh:property ../../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" }}{{/ mesh:meshObjectLink }}
{{/       each }}
{{/     each }}
   <br>at
{{      mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookMessage_When" }}
   </td>
   <td>
{{#     mesh:meshObjectLink .. meshObject=this }}
{{        mesh:property .. meshObject=this propertyType="net.ubos.model.ThreadedNotes/Note_Content" nullContent="(empty)" }}
{{/     mesh:meshObjectLink }}
   </td>

  </tr>
{{/   each }}
 </table>
</div>

{{/ vl:vl }}
