{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.messagethread/net.ubos.underbars.vl.messagethread.css" }}

{{# vl:vl }}
 <p><span class="h">Facebook Message Thread</span>
{{#   if ( eq 1 ( set:size . meshObjectSet=( mesh:traverse . meshObject=subject traverse="net.ubos.model.ThreadedNotes/Discussion_Collects_Note-S net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ))) }}
    with
{{    else }}
    between
{{/   if }}

{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Discussion_Collects_Note-S net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
{{#     unless @first }}
{{#       if @last }}
    and
{{/       if }}
{{#       unless @last }}
    ,
{{/       unless }}
{{/     unless }}

{{#     mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
        of
{{#     each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#       mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" }}{{/ mesh:meshObjectLink }}
{{/     each }}
{{/   each }}
 </p>

{{/ vl:vl }}
