div.net-ubos-underbars-vl-facebookpartner.vl-inlined {
    display: flex;
}

div.net-ubos-underbars-vl-facebookpartner.vl-inlined div.name {
    width: 25%;
}
div.net-ubos-underbars-vl-facebookpartner.vl-inlined div.events {
    width: 75%;
}
div.net-ubos-underbars-vl-facebookpartner table.events {
    min-width: 400px;
    margin: 2em auto;
    background: var( --region-color );
}
div.net-ubos-underbars-vl-facebookpartner table.events td {
    padding: 5px;
}
div.net-ubos-underbars-vl-facebookpartner table.events td:first-child {
    width: 50%;
}
div.net-ubos-underbars-vl-facebookpartner table.events td:last-child {
    width: 25%;
}
div.net-ubos-underbars-vl-facebookpartner.vl-inlined table.events {
    width: 100%;
    background: none;
}
