div.net-ubos-underbars-vl-message table.content {
    margin-top: 40px;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}
div.net-ubos-underbars-vl-message table.content tr.content td {
    height: 150px;
}
