{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.productoffering/net.ubos.underbars.vl.productoffering.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{mesh:meshType meshObject=subject}}:</span>
 {{ mesh:meshObject meshObject=subject }}
</p>

{{/ vl:vl }}
