{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.productoffering/net.ubos.underbars.vl.productoffering.css" }}

{{# vl:vl }}

<h1>{{mesh:meshType meshObject=subject}}</h1>

<table class="meshobjectproperties offering">
 <tr>
  <th>Name:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Commerce/Offering_Name" }}</td>
 </tr>
 <tr>
  <th>Price:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Commerce/Offering_Price" }}</td>
 </tr>
{{#   if ( logic:blessedWith meshObject=subject meshTypeId="net.ubos.model.Amazon/AmazonProductOffering" ) }}
 <tr>
  <th>ASIN:</th>
  <td>
   {{ mesh:property meshObject=subject propertyType="net.ubos.model.Amazon/AmazonProductOffering_ASIN" }}
   (<a href="https://www.amazon.com/s?k={{ mesh:property meshObject=subject propertyType="net.ubos.model.Amazon/AmazonProductOffering_ASIN" stringRepresentation="plain"}}" target="_blank">search
   on Amazon</a>)
  </td>
 </tr>
{{/   if }}
</table>

<div class="purchased">
{{# bracket:bracket }}
{{#   bracket:ifContent }}
 <h3>Purchased:</h3>
 <ul>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Commerce/OrderLineItem_References_Offering-D net.ubos.model.Commerce/Order_Includes_OrderLineItem-D" ) }}
  <li>
 {{# mesh:meshObjectLink .. meshObject=this }}
  {{ mesh:meshObject .. meshObject=this }} on {{ mesh:property .. meshObject=this propertyType="net.ubos.model.Commerce/Order_OrderedOn" }}{{/ mesh:meshObjectLink }}</li>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
 </ul>
{{/   bracket:ifContent }}
{{#   bracket:notIfContent }}
 <p>Never purchased.</p>
{{/   bracket:notIfContent }}
{{/ bracket:bracket }}
</div>

{{/ vl:vl }}
