<!DOCTYPE html>
<html>
 <head>
{{util:prepostfix sr.html_head_title "  <title>" "</title>" trim=true }}
{{html:insertHeaderLinks}}
{{html:insertHeaderScripts}}
{{sr.html_head}}
  <base target="_parent">
 </head>
 <body>
{{> content }}
 </body>
</html>
