div.nodata {
    margin: 2em auto;
    padding: 80px 0 10px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #e0e0e0;
}
div.nodata > p {
    margin: 0 auto 80px auto;
    width: 60%;
    min-width: 300px;
    text-align: center;
}

div.search {
    margin: 30px auto;
    padding: 40px 80px;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    border-radius: var( --region-border-radius );
    background: var( --region-color );
}

div.search div.search1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
div.search div.search2 {
    text-align: center;
    font-size: var( --font-size-small );
}
div.search input {
    border-color: #a0a0a0;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px;

    flex-grow: 1;
    width: 100%;
    height: 100%;
}
div.search div.button {
    width: 50px;
    padding: 5px 10px;
}
div.search div.button svg {
    width: 100%;
    height: 100%;
}

div.browse {
    margin: 0 20px;
    padding: 20px;
    border-radius: var( --region-border-radius );
    background: var( --region-color );
}

div.browse h2 {
    text-align: center;
}

div.categories {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

div.categories div.category {
    margin: 1ex;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
}

div.categories h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

div.categories ul {
    margin: 0;
    padding: 1ex 2ex;
}
div.categories li {
    margin: 4px 0;
}
div.categories span.size {
    color: #808080;
    vertical-align: super;
    font-size: 60%;
    margin-left: 5px;
}

div.separator {
    width: 60%;
    margin: 50px auto;
    border-top: 1px solid var(--bland-color);
}

nav.paginate {
    float: right;
}
nav.paginate > ul {
    margin: 0;
    padding: 0;
}
nav.paginate > ul > li {
    display: inline;
    margin: 0 0 0 1ex;
    padding: 0;
}
ul.content {
    margin: 0;
    padding: 0;
}
ul.content > li {
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    background: var( --element-background-color );
    border: 1px solid var( --element-border-color );
}

ul.content > li > div {
    flex-grow: 1;
}

ul.content > li > div.identifier {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 6px 25px 0 10px;
    width: 2px;
}

div.net-ubos-underbars-vl-genericsummary {
    background: #fff;
}
