{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.csv/net.ubos.underbars.vl.csv.css" }}

{{# vl:vl }}

<div class="breadcrumbs">
 <ul>
{{# mesh:repeatTraverseToSingle meshObject=subject traverse="roleAttribute-D:nb-rel" direction="reverse" max=10 }}
<li>{{# mesh:meshObjectLink .. meshObject=current }}{{ mesh:meshObjectId .. meshObject=current relativeto=previous }}{{/ mesh:meshObjectLink }}</li>
{{/ mesh:repeatTraverseToSingle }}
 </ul>
</div>

<h1>{{ mesh:meshType meshObject=subject nullContent="CSV file" }}</h1>

<table class="attributes1 meshobjectproperties">
 <tr>
  <th>Local ID:</th>
  <td>{{ mesh:meshObjectId meshObject=subject show="localid" nullContent="(top)" }}</td>
 </tr>
{{# if ( logic:hasAttribute meshObject=subject attributeName="importer" ) }}
 <tr>
  <th>Imported by:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="importer" }}</td>
 </tr>
{{/ if }}
 <tr>
  <th>Object type:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="nb-type" }}</td>
 </tr>
</table>

{{# bracket:bracket }}
{{#   bracket:ifContent }}
<table class="attributes2 meshobjectproperties">
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:attributeNames meshObject=subject ) }}
{{#       if ( and ( neq this "importer" ) ( neq this "nb-type" ))}}
 <tr>
  <th>
{{        this }}
  </th>
  <td>
{{          mesh:attribute .. meshObject=subject attributeName=this }}
  </td>
 </tr>
{{/       if }}
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
</table>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

<div class="content">
 <h2>Content</h2>
{{# util:var name="atts" value=( nb:csvColumnNames meshObject=subject ) }}
{{#   each ( mesh:traverse meshObject=subject traverse="roleAttribute-S:nb-rel" ) }}
{{#     if @first }}
 <table class="content">
  <thead>
   <tr>
{{#       each atts }}
    <th>{{ this }}</th>
{{/       each }}
   </tr>
  </thead>
{{/     if }}
  <tr>
{{#     each atts }}
   <td>
{{#       if ( logic:hasAttribute ../.. meshObject=../this attributeName=this ) }}
{{          mesh:attribute ../.. meshObject=../this attributeName=this }}
{{/       if }}
  </td>
{{/     each }}
  </tr>
{{#     if @last }}
 </table>
{{/     if }}
{{    else }}
 <p>The spreadsheet is empty.</p>
{{/   each }}
{{/ util:var }}
</div>
{{/ vl:vl }}
