{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.meshbase/style.css" }}

{{# vl:vl }}

<div class="slide-in-button">
{{#   html:overlay title="Create a MeshObject" label="Create a MeshObject" labelCssClass="button create" }}
{{      html:overlay:content fragment="HttpShell/Create" action=postUrl submitLabel="Create" }}
{{/   html:overlay}}
</div>

{{#   if vl.filtered}}
<h1>MeshBase (filtered)</h1>
{{/   if}}
{{#   unless vl.filtered}}
<h1>MeshBase ({{ vl.subject.meshBase.size }} MeshObjects total)</h1>
{{/   unless}}

<div class="nav">
{{ util:comment msg="pagination currently broken" }}

 <div class="middle">
{{#   util:safeForm method="GET"}}
  <input type="hidden" name="vl" value="{{vl.name}}" />
  <div class="middle-item">
     Regex for Identifier: <input type="text" autocomplete="off" autocapitalize="off" name="identifier-regex" value="{{ vl:vlParam vl "identifier-regex" }}" />
  </div>
  <div class="middle-item">
     Show MeshTypes:
   <select name="show-types">
    <option value="" selected>None</option>
{{#     each modelBase.orderedLoadedSubjectAreas }}
{{#       bracket:bracket }}
{{#         bracket:ifContent }}
     <optgroup label="{{ this.userVisibleName.value }}">
{{/         bracket:ifContent }}
{{#         bracket:content }}
{{#           each this.orderedEntityTypes }}
{{#             unless this.isAbstract.value }}
      <option value="{{ mesh:meshTypeId ../.. meshType=this }}"
                {{# vl:ifVlParamMatches vl "show-types" this.identifier.externalForm }}selected{{/ vl:ifVlParamMatches }}>
         {{ this.userVisibleName.value }}
      </option>
{{/             unless }}
{{/           each }}
{{/         bracket:content }}
{{#         bracket:ifContent }}
     </optgroup>
{{/         bracket:ifContent }}
{{/       bracket:bracket }}
{{/     each }}
   </select>
  </div>
  <div class="middle-item">
   <input type="submit" name="submit" value="Filter" />
  </div>
{{/   util:safeForm}}
 </div>
</div>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<ul class="content">
{{/     bracket:ifContent }}
{{#     bracket:content }}

{{#       each vl.withinPageIterator}}
 <li>
  <span class="link">{{# mesh:meshObjectLink .. meshObject=this }}&#x2192;
  <span class="identifier">{{ mesh:meshObjectId .. meshObject=this }}</span>{{/ mesh:meshObjectLink }}</span>
{{    vl:vlIncludeInline .. subject=this name="net.ubos.underbars.vl.genericsummary" }}
 </li>
{{/       each}}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</ul>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}


{{ util:comment msg="pagination currently broken" }}

{{/ vl:vl }}
