div.net-ubos-underbars-vl-advertiser.vl div.annotations {
    float: right;
    min-width: 100px;
}
div.net-ubos-underbars-vl-advertiser.vl div.annotations > p {
    text-align: center;
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations {
    margin: 0;
    padding: 0;
    clear: both;

    --ear: 20px;
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li {
    list-style: none;
    margin: 1ex auto;
    position: relative;
    padding: var(--ear) 0 0;
    min-width: 100px;
    min-height: 80px;
    box-sizing: border-box;
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--ear) var(--ear) 0 0 ;
    border-color: transparent #e0e000 transparent transparent ;
    border-right-color: #e0e000;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li:after {
    top: 0;
    height: 100%;
    right: 0;
    background: #ffff80;
    left: var(--ear);
    position: absolute;
    content: '';
    z-index: -1;
}
div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li > div.slide-in-button {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 16px;
    display: flex;
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li > div.slide-in-button span.button {
    position: relative;
    z-index: 1;
}

div.net-ubos-underbars-vl-advertiser.vl ul.annotations > li > div.content {
    top: var(--ear);
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #ffff80;
    padding: 0 1ex;
}
div.net-ubos-underbars-vl-advertiser span.button > span {
    display: none;
}
div.net-ubos-underbars-vl-advertiser span.button.create:before {
    content: url(note_add.png);
}
div.net-ubos-underbars-vl-advertiser span.button.edit:before {
    content: url(pencil.png);
}
div.net-ubos-underbars-vl-advertiser span.button.delete:before {
    content: url(bin_closed.png);
}

div.net-ubos-underbars-vl-advertiser.vl table.interactions {
    min-width: 400px;
    margin: 2em auto;
    background: var( --region-color );
    border: 1px solid var( --element-border-color );
}

div.net-ubos-underbars-vl-advertiser.vl table th,
div.net-ubos-underbars-vl-advertiser.vl table td {
    padding: 1ex;
}
div.net-ubos-underbars-vl-advertiser.vl .center {
    text-align: center;
}
