div.net-ubos-underbars-vl-order.vl table.items {
    width: 100%;
}
div.net-ubos-underbars-vl-order.vl table.items {
    margin: 2em auto;
    background: var( --region-color );
}
div.net-ubos-underbars-vl-order.vl-inlined table.items {
    margin: 0.5ex 0;
    background: inherit;
}
div.net-ubos-underbars-vl-order.vl table.items col {
    border: 1px solid #d0d0d0;
}

div.net-ubos-underbars-vl-order.vl table.items th,
div.net-ubos-underbars-vl-order.vl table.items td {
    padding: 1ex;
    vertical-align: top;
}
div.net-ubos-underbars-vl-order.vl-inlined table.items td {
    padding: 3px;
}
div.net-ubos-underbars-vl-order.vl table.items td.quantity {
    text-align: center;
    width: 10%;
}
div.net-ubos-underbars-vl-order.vl-inlined table.items td.quantity {
    width: 6%;
}
div.net-ubos-underbars-vl-order.vl table.items td.product {
    text-align: left;
}
div.net-ubos-underbars-vl-order.vl table.items td.currency,
div.net-ubos-underbars-vl-order.vl table.items td.label {
    text-align: right;
    width: 10%;
}
div.net-ubos-underbars-vl-order.vl table.items tr.subtotal {
    border-top: 1px solid #d0d0d0;
    width: 10%;
}
