div.net-ubos-underbars-vl-interestcollection.vl ul.interests {
    padding: 2em;
    background: var( --region-color );
    column-count: 2;
}
div.net-ubos-underbars-vl-interestcollection.vl svg.net-ubos-underbars-vl-interestcollection {
    width: 100%;
    height: 400px;
    background: #fff;
}
