  <footer>
   <div class="container">
    <p class="copyright">
     &copy; Proprietary and Confidential. All rights reserved. Under construction. Do not share.
     Silk Icons from <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam.com</a> using Creative Commons license.
    </p>
   </div>
  </footer>
