{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.mediaobject/net.ubos.underbars.vl.mediaobject.css" }}

{{# vl:vl }}

{{#   mesh:meshObjectLink meshObject=subject cssClass="link" }}
{{      vl:vlIncludeInline name="net.ubos.underbars.vl.mediaproperty" subject=subject }}
{{/   mesh:meshObjectLink }}

<div class="meta">
 <table>
  <tr>
   <th>Title:</th>
   <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Blob/MediaObject_Title" }}</td>
  </tr>
  <tr>
   <th>Created:</th>
   <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Blob/MediaObject_CreatedWhen" }}</td>
  </tr>
  <tr>
   <th>Description:</th>
   <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Blob/MediaObject_Description" }}</td>
  </tr>
{{#  bracket:bracket }}
{{#    bracket:ifContent }}
  <tr>
   <th>Album:</th>
   <td>
    <ul>
{{/    bracket:ifContent }}
{{#    bracket:content }}
{{#      each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookAlbum_Collects_MediaObject-D" ) }}
     <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink}}</li>
{{/      each }}
{{/    bracket:content }}
{{#    bracket:ifContent }}
    </ul>
   </td>
  </tr>
{{/    bracket:ifContent }}
{{/  bracket:bracket }}
 </table>
</div>

{{/ vl:vl }}
