{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.comment/net.ubos.underbars.vl.comment.css" }}

{{# vl:vl }}

<p>
 <span class="h">Facebook Comment</span>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 in response to
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_IsAddressedTo_Account-S" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" nullContent="Unidentified" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
{{/     bracket:content }}
{{/   bracket:bracket }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 on
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookComment_CreatedWhen" nullContent="" }}
{{/     bracket:content }}
{{/   bracket:bracket }}
:

{{#   bracket:bracket }}
{{#     bracket:content }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Content" nullContent="" }}
{{/     bracket:content }}
{{#     bracket:notIfContent }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" nullContent="" }}
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}
</p>

{{/ vl:vl }}
