{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.comment/net.ubos.underbars.vl.comment.css" }}

{{# vl:vl }}

<table class="meshobjectproperties">
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>From:</th>
  <td>
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>By:</th>
  <td>
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_CreatedBy_Account-S" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" nullContent="Unidentified" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}


{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>To:</th>
  <td>
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_IsAddressedTo_Account-S" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
            of
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Identity/AccountProfile_For_Account-D" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:property ../.. meshObject=this propertyType="net.ubos.model.Identity/IndividualAccountProfile_FullName" nullContent="Unidentified" }}{{/ mesh:meshObjectLink }}
{{/         each }}
{{/       each }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>On:</th>
  <td>
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{        mesh:property meshObject=subject propertyType="net.ubos.model.Facebook/FacebookComment_CreatedWhen" }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>Thread:</th>
  <td>
{{/     bracket:ifContent }}

{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Discussion_Collects_Note-D" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookMessageThread_Title" }}{{/ mesh:meshObjectLink }}
{{/       each }}
{{/     bracket:content }}

{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

</table>

{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_InResponseTo_Any-S" ) }}
<p>In response to: {{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}</p>
{{/   each }}

<table class="content">
 <tr>
  <th>Subject:</th>
  <td>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Subject" nullContent="(Not given)" }}
  </td>
 </tr>

 <tr class="content">
  <th>Content:</th>
  <td>
{{   mesh:property meshObject=subject propertyType="net.ubos.model.ThreadedNotes/Note_Content" }}
  </td>
 </tr>
</table>

{{/ vl:vl }}
