{{  html:link rel="stylesheet" href="/s/net.ubos.underbars/WordCloudHelper.css" }}
{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.interestcollection/net.ubos.underbars.vl.interestcollection.css" }}
{{  html:script src="/s/net.ubos.underbars/lib/d3.v4.js" }}
{{  html:script src="/s/net.ubos.underbars/lib/d3.layout.cloud.js" }}
{{  html:script src="/s/net.ubos.underbars/WordCloudHelper.js" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<p>A list of interests, for marketing purposes.</p>

<svg id="interestcloud" class="{{ vl.cssClass }} net-ubos-underbars-helpers-meshbaseindex-WordCloudHelper"></svg>

<script>
net_ubos_underbars_WordCloudHelper_displayWordCloud( "interestcloud", [
{{#       each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/InterestCollection_Collects_Interest-S" ) sortByPropertyType="net.ubos.model.Marketing/Interest_Name" ) }}
{{# unless @first }},{{/ unless }}
"{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Marketing/Interest_Name" stringRepresentation="plain" }}"
{{/       each }}
], new Map() );
</script>

<ul class="interests">
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/InterestCollection_Collects_Interest-S" ) sortByPropertyType="net.ubos.model.Marketing/Interest_Name" ) }}
 <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Marketing/Interest_Name" }}{{/ mesh:meshObjectLink }}</li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</ul>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
<p>Empty collection.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
