div.net-ubos-underbars-vl-propertysheet {
    clear: both;
}
div.net-ubos-underbars-vl-propertysheet h1 {
    padding-top: 1ex;
}
div.net-ubos-underbars-vl-propertysheet h2 {
    text-align: center;
}

div.net-ubos-underbars-vl-propertysheet div.audit {
    float: right;
    clear: right;
    padding: 1em 0 1em 1em;
}
div.net-ubos-underbars-vl-propertysheet div.audit td {
    padding: 1px 3px;
}

div.net-ubos-underbars-vl-propertysheet table.facts {
    clear: right;
    margin: 0 0 50px 0;
    width: 100%;
    border: 1px solid #000;
    background: var( --region-color );
}

div.net-ubos-underbars-vl-propertysheet thead {
    border: 1px solid #000;
}

div.net-ubos-underbars-vl-propertysheet td,
div.net-ubos-underbars-vl-propertysheet th {
    vertical-align: middle;
    padding: 1ex;
}

div.net-ubos-underbars-vl-propertysheet th.relationshipType {
    text-align: left;
}

div.net-ubos-underbars-vl-propertysheet table.properties > * > * > .type {
    width: 10%;
}
div.net-ubos-underbars-vl-propertysheet table.properties > * > * > .name {
    width: 45%;
}
div.net-ubos-underbars-vl-propertysheet table.properties > * > * > .value {
    width: 45%;
}

div.net-ubos-underbars-vl-propertysheet table.attributes > * > * > th {
    width: 50%;
}

div.net-ubos-underbars-vl-propertysheet table.neighbors > * > * > .role {
}

div.net-ubos-underbars-vl-propertysheet table.neighbors > * > * > .neighbor {
    width: 50%;
}

div.net-ubos-underbars-vl-propertysheet table.facts > * > tr > .type {
    border-bottom: 0px;
}
div.net-ubos-underbars-vl-propertysheet table.facts > * > tr > * {
    border-width: 0px 1px;
    border-style: dotted;
}

div.net-ubos-underbars-vl-propertysheet table.facts > * > tr > td {
    border-width: 1px;
}
div.net-ubos-underbars-vl-propertysheet table.facts > * > tr > th.entityType {
    text-align: left;
    padding-left: 10%;
}

div.net-ubos-underbars-vl-propertysheet a.button {
    text-decoration: none;
}
div.net-ubos-underbars-vl-propertysheet span.button > span {
    display: none;
}
div.net-ubos-underbars-vl-propertysheet span.button.add:before {
    content: url(add.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.addroleattribute:before {
    content: url(add.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.create:before {
    content: url(add.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.delete:before {
    content: url(bin_closed.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.deleteroleattribute:before {
    content: url(bin_closed.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.bless:before {
    content: url(medal_bronze_add.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.unbless:before {
    content: url(medal_bronze_delete.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.blessrole:before {
    content: url(medal_silver_add.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.unblessrole:before {
    content: url(medal_silver_delete.png);
}
div.net-ubos-underbars-vl-propertysheet span.button.unrelate:before {
    content: url(link_delete.png);
}

div.net-ubos-underbars-vl-propertysheet .tipcontainer {
    position: relative;
}
div.net-ubos-underbars-vl-propertysheet .tipcontainer span.tip {
    visibility: hidden;
    position: absolute;
    z-index: 10;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #808080;
    border-radius: 5px;
    white-space: nowrap;
}
div.net-ubos-underbars-vl-propertysheet .tipcontainer:hover span.tip {
    visibility: visible;
}

div.net-ubos-underbars-vl-genericsummary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.net-ubos-underbars-vl-genericsummary > div {
    padding: 2px 0 0 10px;
    width: 18%;
    min-height: 1em;
}
div.net-ubos-underbars-vl-genericsummary > div.entitytypes > ul,
div.net-ubos-underbars-vl-genericsummary > div.attributes > ul {
    margin: 0;
    padding: 0 0 0 1ex;
}

div.net-ubos-underbars-vl-genericsummary > div.neighbors {
    width: 63%;
}
div.net-ubos-underbars-vl-genericsummary h4 {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-genericsummary > div > p.none {
    margin: 0;
    padding: 0 0 0 40px;
}
div.net-ubos-underbars-vl-genericsummary > div.neighbors > table {
    width: 100%;
    table-layout: fixed;
}
div.net-ubos-underbars-vl-genericsummary > div.neighbors td {
    /* border: 1px solid #a0a0a0; */
    width: 30%;
    vertical-align: top;
    overflow-x: clip;
}
div.net-ubos-underbars-vl-genericsummary > div.neighbors th.id {
    width: 39%;
}

div.net-ubos-underbars-vl-genericsummary > div.neighbors td.none {
    border: 0;
}
div.net-ubos-underbars-vl-genericsummary > div.neighbors ul,
div.net-ubos-underbars-vl-genericsummary > div.neighbors li {
    margin: 0;
    padding: 0;
}
div.net-ubos-underbars-vl-genericsummary > div.neighbors li {
    list-style: none;
}

div.net-ubos-underbars-vl-genericsummary > div.neighbors p.none {
    margin: 0;
    padding: 0;
}
