{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.industrycategory/net.ubos.underbars.vl.industrycategory.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

<p>This industry category contains the following
   {{ set:size meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/Advertiser_IsIn_AdvertiserCategory-D" ) }} advertisers:</p>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<ul>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/Advertiser_IsIn_AdvertiserCategory-D" )
                          sortByPropertyType="net.ubos.model.Marketing/Advertiser_Name" ) }}
  <li>{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}</li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
</ul>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
<p>No content.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
