<h2>Open a remote NetMeshObject</h2>
<table>
 <tr>
  <td class="label">Identifier:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalization="off" class="subject" name="shell.subject" />
   <input type="hidden" name="shell.subject.access" value="find" />
  </td>
 </tr>
</table>
