{{  util:assertParam name="from" null=false type="net.ubos.mesh.MeshObject" }}
{{  util:assertParam name="to"   null=true  type="net.ubos.mesh.MeshObject" }}

<h2>Add a Role Attribute</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" readonly="readonly"
          name="shell.from"
          value="{{ mesh:meshObjectId meshObject=from stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Attribute name:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" name="shell.from.to.to.attributename.1">
  </td>
 </tr>
 <tr>
  <td class="label">Attribute value:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" name="shell.from.to.to.attributevalue.1">
  </td>
 </tr>
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="object"
          name="shell.to"{{# if to }} readonly="readonly"{{/ if }}
          value="{{ mesh:meshObjectId meshObject=to nullContent="" stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
</table>
