{{util:assertParam name="from" null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="to"   null=true  type="net.ubos.mesh.MeshObject"}}

<h2>Bless role between two MeshObjects</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.from" readonly="readonly"
          value="{{ mesh:meshObjectId meshObject=from stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">RoleType:</td>
  <td>
   {{mesh:relationshipBlessableBy meshObject=from meshObjectShellVarName="from" neighbor=to neighborShellVarName="to" }}
  </td>
 </tr>
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="object"{{# if to }} readonly="readonly"{{/ if }}
          name="shell.to"
          value="{{ mesh:meshObjectId meshObject=to nullContent="" stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
</table>
