{{util:assertParam name="toBless" null=false type="net.ubos.mesh.MeshObject"}}

<h2>Bless a MeshObject</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" readonly="readonly"
          value="{{ mesh:meshObjectId meshObject=toBless stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Type:</td>
  <td>
   {{mesh:blessableBy meshObject=toBless offerIdentifierInput=false }}
  </td>
 </tr>
</table>
