{{util:assertParam name="from" null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="to"   null=true  type="net.ubos.mesh.MeshObject"}}

<h2>Add an Attribute to a Role from MeshObject to Another</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.from" readonly="readonly"
          value="{{ mesh:meshObjectId meshObjectName="from" stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">
   <input type="text" autocomplete="off" autocapitalize="off" class="attribute" name="shell.on.attributename" />
  </td>
  <td>
   {{mesh:attribute attributeName="shell.from.to.FIXME" }}
  </td>
 </tr>
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.to"{{# if to }} readonly="readonly"{{/ if }}
          value="{{ mesh:meshObjectId meshObjectName="to" stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
</table>


</table>
