<h2>Create a MeshObject</h2>
<table>
 <tr>
  <td class="label">Identifier:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.subject" />
   <input type="hidden" name="shell.subject.access" value="create" />
   <input type="hidden" name="shell.subject.redirect" value="true" />
  </td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td class="advice">(Empty Identifier will auto-create one)</td>
 </tr>
 <tr>
  <td class="label">Type:</td>
  <td>
   {{mesh:blessableBy meshObjectShellVarName="subject" offerIdentifierInput=false offerNone=true }}
  </td>
 </tr>
 <tr>
  <td>&nbsp;</td>
  <td class="advice">(Optional)</td>
 </tr>
</table>
