{{  util:assertParam name="from"              null=false type="net.ubos.mesh.MeshObject" }}
{{  util:assertParam name="to"                null=true  type="net.ubos.mesh.MeshObject" }}
{{  util:assertParam name="roleAttributeName" null=true  type="java.lang.String" }}

<h2>Delete a Role Attribute</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" readonly="readonly"
          name="shell.from"
          value="{{ mesh:meshObjectId meshObject=from stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Attribute name:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" name="shell.from.to.to.attributename.1"{{# if roleAttribute }} readonly="readonly"{{/ if }}
          value="{{ util:escapeQuotes roleAttributeName }}">
   <input type="hidden" name="shell.from.to.to.attributedelete.1" value="true">
  </td>
 </tr>
{{# if roleAttributeName }}
{{#   if neighbor }}
 <tr>
  <td class="label">
   Current value:
  </td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="attribute" readonly="readonly"
          value="{{ mesh:roleAttribute meshObject=from neighbor=to roleAttributeName=roleAttributeName }}" />
  </td>
 </tr>
{{/   if }}
{{/ if }}
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="object"{{# if to }} readonly="readonly"{{/ if }}
          name="shell.to"
          value="{{ mesh:meshObjectId meshObject=to nullContent="" stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
</table>
