{{util:assertParam name="on"            null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="attributeName" null=true type="java.lang.String"}}

<h2>Delete an Attribute from a MeshObject</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" readonly="readonly"
          name="shell.obj"
          value="{{ mesh:meshObjectId meshObject=on stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">
   Attribute name:
  </td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="attribute"{{# if attributeName }} readonly="readonly"{{/ if }}
          name="shell.obj.attributename.1"
          value="{{ attributeName }}" />
   <input type="hidden" name="shell.obj.attributedelete.1" value="true">
  </td>
 </tr>
{{# if attributeName }}
 <tr>
  <td class="label">
   Current value:
  </td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="attribute" readonly="readonly"
          value="{{ mesh:attribute meshObject=on attributeName=attributeName  }}" />
  </td>
 </tr>
{{/ if }}
</table>
