{{util:assertParam name="toDelete"   null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="toRedirect" null=true  type="net.ubos.mesh.MeshObject"}}

<h2>Do you really want to delete this MeshObject?</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="hidden" name="shell.toDelete.access" value="delete" />
   <input type="text" autocomplete="off" autocapitalize="off" name="shell.toDelete"
          value="{{ mesh:meshObjectId meshObject=toDelete stringRepresentation="HttpShell" }}" />
{{# if toRedirect }}
   <input type="hidden" name="shell.toRedirect"
          value="{{ mesh:meshObjectId meshObject=toRedirect stringRepresentation="HttpShell"}}" />
   <input type="hidden" name="shell.toRedirect.access" value="find" />
   <input type="hidden" name="shell.toRedirect.redirect" value="true" />
{{/if}}
  </td>
 </tr>
</table>
