{{ util:assertParam name="on" null=false type="net.ubos.mesh.MeshObject" }}

<h2>Edit an Attribute of a MeshObject</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" readonly="readonly"
          name="shell.obj"
          value="{{ mesh:meshObjectId meshObject=on stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Attribute name:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" readonly="readonly" name="shell.obj.attributename.1">
  </td>
 </tr>
 <tr>
  <td class="label">Attribute value:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" name="shell.obj.attributevalue.1">
  </td>
 </tr>
</table>
