{{util:assertParam name="toUnbless" null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="meshType"  null=true  type="net.ubos.model.primitives.EntityType"}}

<h2>Do you really want to unbless this MeshObject?</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.subject" readonly="readonly"
          value="{{ mesh:meshObjectId meshObject=toUnbless stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Type:</td>
  <td>
{{#if null}}
   {{mesh:unblessableFrom meshObject=toUnbless }}
{{/if}}
{{#unless null}}
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.subject.unbless" readonly="readonly"
          value="{{ mesh:meshTypeId meshType=meshType stringRepresentation="HttpShell" }}" />
{{/unless}}
  </td>
 </tr>
</table>
