{{util:assertParam name="from"     null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="to"       null=true type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="roleType" null=true type="net.ubos.model.primitives.RoleType"}}

<h2>Unbless relationship between two MeshObjects</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.from" readonly="readonly"
          value="{{ mesh:meshObjectId meshObject=from stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">RoleType:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="roleType" name="shell.from.to.to.unblessRole"{{# if roleType }} readonly="readonly"{{/ if }}
          value="{{ mesh:meshTypeId meshType=roleType stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="object" name="shell.to"{{# if to }} readonly="readonly"{{/ if }}
          value="{{ mesh:meshObjectId meshObject=to stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
</table>
