{{util:assertParam name="from" null=false type="net.ubos.mesh.MeshObject"}}
{{util:assertParam name="to"   null=false type="net.ubos.mesh.MeshObject"}}

<h2>Do you really want to unrelate two MeshObjects?</h2>
<table>
 <tr>
  <td class="label">MeshObject:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="subject" name="shell.from" readonly="readonly"
          value="{{ mesh:meshObjectId meshObject=from stringRepresentation="HttpShell" }}" />
  </td>
 </tr>
 <tr>
  <td class="label">Neighbor:</td>
  <td>
   <input type="text" autocomplete="off" autocapitalize="off" class="object" name="shell.to"
          value="{{ mesh:meshObjectId meshObject=to stringRepresentation="HttpShell" }}" />
   <input type="hidden" name="shell.from.to.to.unrelate" value="true" />
  </td>
 </tr>
</table>