{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.searchquery/net.ubos.underbars.vl.searchquery.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{ mesh:meshObject meshObject=subject }}</span>
 for "{{ mesh:property meshObject=subject propertyType="net.ubos.model.Search/SearchQuery_Query" }}"
{{#   if ( mesh:property meshObject=subject propertyType="net.ubos.model.Search/SearchQuery_PerformedWhen" nullContent="" ) }}
 on
 {{ mesh:property meshObject=subject propertyType="net.ubos.model.Search/SearchQuery_PerformedWhen" }}
{{/   if }}

</p>

{{/ vl:vl }}
