{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.searchquery/net.ubos.underbars.vl.searchquery.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

<p>
 Search query for
 "{{ mesh:property meshObject=subject propertyType="net.ubos.model.Search/SearchQuery_Query" }}"
 on
 {{ mesh:property meshObject=subject propertyType="net.ubos.model.Search/SearchQuery_PerformedWhen" }}.
</p>

{{/ vl:vl }}
