div.net-ubos-underbars-vl-account table th.profile-header {
    text-align: center;
}
div.net-ubos-underbars-vl-account table.search th {
    width: 40%;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
    padding: 3px 0;
}
div.net-ubos-underbars-vl-account table.search td {
    font-weight: var(--font-weight-bold);
    vertical-align: top;
    padding: 3px 0;
}

div.net-ubos-underbars-vl-account div.tiles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.net-ubos-underbars-vl-account div.tile {
    width: 28%;
    margin: 1ex;
    padding: 1ex 2ex;
    min-width: 400px;
    flex-shrink: 0;
    flex-grow: 0;
    background: var( --region-color );
    border: var( --element-border-color );
    border-radius: var( --region-border-radius );
}
