
div.net-ubos-underbars-vl-person.vl-inlined {
    display: flex;
}
div.net-ubos-underbars-vl-person.vl-inlined > div {
    width: 33%;
}

div.net-ubos-underbars-vl-person > div.card {
    margin: 0;
    padding: 30px 60px;
    border: 1px solid #808080;
    border-radius: 20px;
    background: var( --region-color );

    width: 100%;
    min-height: 600px;
    clear: both;
}

div.net-ubos-underbars-vl-person > div.card div.top {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 50px;
}
div.net-ubos-underbars-vl-person > div.card div.picture {
    width: 33%;
}
div.net-ubos-underbars-vl-person > div.card div.picture-placeholder {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgb(35,27,190);
    background: linear-gradient(45deg, rgba(35,27,190,1) 0%, rgba(0,212,255,1) 100%);
}

div.net-ubos-underbars-vl-person > div.card div.keydata {
    width: 60%;
}
div.net-ubos-underbars-vl-person > div.card div.keydata table {
    width: 100%;
}
div.net-ubos-underbars-vl-person > div.card div.keydata table td,
div.net-ubos-underbars-vl-person > div.card div.keydata table th {
    text-align: top;
    padding: 0.5ex;
}

div.net-ubos-underbars-vl-person > div.card div.keydata table th {
    width: 100px;
    text-align: left;
}

div.net-ubos-underbars-vl-person > div.card table.details {
    width: 100%;
}
div.net-ubos-underbars-vl-person > div.card table.details th {
    width: 25%;
    text-align: left;
    vertical-align: top;
}
div.net-ubos-underbars-vl-person > div.card table.details td,
div.net-ubos-underbars-vl-person > div.card table.details th {
    padding: 1em;
    vertical-align: top;
    border: solid #e0e0e0;
    border-width: 1px 0;
}
div.net-ubos-underbars-vl-person > div.card table.details td ul {
    margin: 0;
    padding: 0;
}
