{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl formId="vl" showHistory="true" showChangeState="true" viewletStates="Edit" showRefresh="true" }}

 <div class="audit">
  <table>
   <tr>
    <td class="label">Created:</td>
    <td>{{ mesh:timeCreated meshObject=subject }}</td>
   </tr>
   <tr>
    <td class="label">Updated:</td>
    <td>{{ mesh:timeUpdated meshObject=subject }}</td>
   </tr>
  </table>
 </div>

{{#   if (neq vl.state.name "Edit" ) }}
 <div class="slide-in-button">
{{#     html:overlay label="Delete this MeshObject" labelCssClass="button delete" }}
{{        html:overlay:content fragment="HttpShell/Delete" toDelete=subject toRedirect=meshBase.homeObject action=postUrl submitLabel="Delete" }}
{{/     html:overlay }}
 </div>
{{/   if }}

 <h1>Property Sheet for: {{ mesh:meshObjectId meshObject=subject }}</h1>

{{    vl:vlIncludeInline name="net.ubos.underbars.vl.propertytable" }}

{{    vl:vlIncludeInline name="net.ubos.underbars.vl.attributetable" }}

{{    vl:vlIncludeInline name="net.ubos.underbars.vl.rolepropertytable" }}

{{    vl:vlIncludeInline name="net.ubos.underbars.vl.roleattributetable" }}


{{#   if (eq vl.state.name "Edit" ) }}
  <div class="dialog-buttons">
{{      util:safeFormHiddenInput }}
   <input id="shell.submit" type="hidden" name="shell.submit" value="" />
   <table class="dialog-buttons">
    <tr>
     <td><button type="button" name="ViewletStateTransition" value="do-cancel" class="cancel" onclick="document.getElementById( 'shell.submit' ).value='cancel'; document.getElementById('vl').submit()">Discard</button></td>
     <td><button type="submit" name="ViewletStateTransition" value="do-commit" class="commit" onclick="document.getElementById( 'shell.submit' ).value='commit'; document.getElementById('vl').submit()">Save</button></td>
    </tr>
   </table>
  </div>
{{/   if }}

{{/ vl:vl }}
