{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.webresource/net.ubos.underbars.vl.webresource.css" }}

{{# vl:vl }}

<h1>Web page</h1>

<table class="meshobjectproperties">
 <tr>
  <th>At: </th>
  <td><a href="{{ mesh:property meshObject=subject propertyType="net.ubos.model.Web/WebResource_Protocol" nullContent="" stringRepresentation="plain" }}://{{ mesh:meshObjectId meshObject=subject show="localid" }}">{{ mesh:meshObjectId meshObject=subject show="localid" }}</a></td>
 </tr>
{{# bracket:bracket }}
{{#   bracket:ifContent }}
 <tr>
  <th>Commented on in:</th>
  <td>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:traverse meshObject=subject traverse="net.ubos.model.ThreadedNotes/Note_InResponseTo_Any-D" ) }}{{ util:comment "no op"
}}{{#       unless @first }},{{/ unless }}
{{ util:comment "no op"
}}{{#       mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}{{ util:comment "no op"
}}{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </td>
 </tr>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}
{{# bracket:bracket }}
{{#   bracket:ifContent }}
 <tr>
  <th>Mentioned in:</th>
  <td>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Web/Any_Mentions_WebResource-D" ) }}{{ util:comment "no op"
}}{{#       unless @first }},{{/ unless }}
{{ util:comment "no op"
}}{{#       mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}{{ util:comment "no op"
}}{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </td>
 </tr>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}
</table>

<iframe src="{{ mesh:property meshObject=subject propertyType="net.ubos.model.Web/WebResource_Protocol" nullContent="" stringRepresentation="plain" }}://{{ mesh:meshObjectId meshObject=subject show="localid" }}">
</iframe>

{{/ vl:vl }}
