{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.nonblessed/net.ubos.underbars.vl.nonblessed.css" }}

{{# vl:vl }}

<p>
 <span class="h">Non-blessed object</span>
 {{ mesh:meshObjectId meshObject=subject show="localid"}}
</p>

{{/ vl:vl }}
