{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.nonblessed/net.ubos.underbars.vl.nonblessed.css" }}

{{# vl:vl }}

<div class="breadcrumbs">
 <ul>
{{# mesh:repeatTraverseToSingle meshObject=subject traverse="roleAttribute-D:nb-rel" direction="reverse" max=10 }}
<li>{{# mesh:meshObjectLink .. meshObject=current }}{{ mesh:meshObjectId .. meshObject=current relativeto=previous }}{{/ mesh:meshObjectLink }}</li>
{{/ mesh:repeatTraverseToSingle }}
 </ul>
</div>

<h1>{{ mesh:meshType meshObject=subject nullContent="Non-blessed object" }}</h1>

<table class="attributes1 meshobjectproperties">
 <tr>
  <th>Local ID:</th>
  <td>{{ mesh:meshObjectId meshObject=subject show="localid" nullContent="(top)" }}</td>
 </tr>
{{# if ( logic:hasAttribute meshObject=subject attributeName="importer" ) }}
 <tr>
  <th>Imported by:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="importer" }}</td>
 </tr>
{{/ if }}
 <tr>
  <th>Object type:</th>
  <td>{{ mesh:attribute meshObject=subject attributeName="nb-type" }}</td>
 </tr>
</table>

{{# bracket:bracket }}
{{#   bracket:ifContent }}
<table class="attributes2 meshobjectproperties">
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:attributeNames meshObject=subject ) }}
{{#       if ( and ( neq this "importer" ) ( neq this "nb-type" ))}}
 <tr>
  <th>
{{        this }}
  </th>
  <td>
{{          mesh:attribute .. meshObject=subject attributeName=this }}
  </td>
 </tr>
{{/       if }}
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
</table>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

{{# bracket:bracket }}
{{#   bracket:ifContent }}
<div class="children">
<h2>Structure below</h2>
{{/   bracket:ifContent }}
{{#   bracket:content }}

{{#     bracket:bracket }}
{{#       bracket:ifContent }}
<ul>
{{/       bracket:ifContent }}
{{#       bracket:content }}
{{#         each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="roleAttribute-S:nb-rel" ) sortByIdentifier=true ) }}
 <li>
{{#           mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
 <span class="size">({{ set:traverseSize .. meshObject=this traverse="roleAttribute-S:nb-rel" }})</span>
{{#           bracket:bracket }}
{{#             bracket:ifContent }}
<ul>
{{/             bracket:ifContent }}
{{#             bracket:content }}
{{#               each ( set:sort .. meshObjectSet=( mesh:traverse .. meshObject=this traverse="roleAttribute-S:nb-rel" ) sortByIdentifier=true ) }}
 <li>
{{#                 mesh:meshObjectLink ../.. meshObject=this }}{{ mesh:meshObjectId ../.. meshObject=this relativeto=../this }}{{/ mesh:meshObjectLink }}
 <span class="size">({{ set:traverseSize ../.. meshObject=this traverse="roleAttribute-S:nb-rel" }})</span>
 </li>
{{/               each }}
{{/             bracket:content }}
{{#             bracket:ifContent }}
</ul>
{{/             bracket:ifContent }}
{{/           bracket:bracket }}

 </li>
{{/         each }}
{{/       bracket:content }}
{{#       bracket:ifContent }}
</ul>
{{/       bracket:ifContent }}
{{/     bracket:bracket }}

{{/   bracket:content }}
{{#   bracket:ifContent }}
</div>
{{/   bracket:ifContent }}
{{/ bracket:bracket }}

{{/ vl:vl }}
