{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.collection/net.ubos.underbars.vl.collection.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <ul class="content">
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Structure/Collection_Collects_Any-S" ) }}
  <li>
   <div class="identifier">
{{#           mesh:meshObjectLink .. meshObject=this }}&#x2192;{{/ mesh:meshObjectLink }}
   </div>
{{            vl:vlIncludeInline .. subject=this vldetq="overview" }}
  </li>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
 </ul>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
