{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.bookmark/net.ubos.underbars.vl.bookmark.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>
<table class="meshobjectproperties">
 <tr>
  <th>Crated when:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Bookmark/Bookmark_CreatedWhen" }}</td>
 </tr>
 <tr>
  <th>Description:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Bookmark/Bookmark_Description" }}</td>
 </tr>
 <tr>
  <th>References:</th>
  <td>
{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Bookmark/Bookmark_References_Any-S" ) }}
{{#     mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
   at
   <a href="{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Web/WebResource_Protocol" nullContent="" stringRepresentation="plain" }}://{{ mesh:meshObjectId .. meshObject=subject show="localid" }}">{{ mesh:meshObjectId .. meshObject=this show="localid" }}</a></td>
{{/   each }}
  </td>
 </tr>
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 <tr>
  <th>Collected in:</th>
  <td>
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Structure/Collection_Collects_Any-D" ) }}
{{#         mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
  </td>
 </tr>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}
</table>

{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Bookmark/Bookmark_References_Any-S" ) }}
<iframe src="{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Web/WebResource_Protocol" nullContent="" stringRepresentation="plain" }}://{{ mesh:meshObjectId .. meshObject=this show="localid" }}">
</iframe>
{{/   each }}



{{/ vl:vl }}
