{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.bookmark/net.ubos.underbars.vl.bookmark.css" }}

{{# vl:vl }}
<p>
 <span class="h">{{ mesh:meshObject meshObject=subject }}</span>
{{    mesh:property meshObject=subject propertyType="net.ubos.model.Bookmark/Bookmark_Description" }}
{{#   bracket:bracket }}
{{#     bracket:ifContent }}
 &ndash;
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Bookmark/Bookmark_References_Any-S" ) }}
{{          mesh:meshObjectId .. meshObject=this show="localid" }}
{{/       each }}
{{/     bracket:content }}
{{/   bracket:bracket }}
</p>

{{/ vl:vl }}
