{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.advertisementinteraction/net.ubos.underbars.vl.advertisementinteraction.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshObject meshObject=subject }}</h1>

<table class="meshobjectproperties">
 <tr>
  <th>Type:</th>
  <td>&quot;{{ mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/AdvertisementInteraction_Type" }}&quot;</td>
 </tr>
 <tr>
  <th>Ad by:</th>
  <td>
{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/AdvertisementInteraction_WithAdvertisementBy_Advertiser-S" ) }}
&quot;{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}&quot;
{{/   each }}
  </td>
 </tr>
 <tr>
  <th>On:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/AdvertisementInteraction_When" }}</td>
 </tr>
</table>

{{/ vl:vl }}
