{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.advertisementinteraction/net.ubos.underbars.vl.advertisementinteraction.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{ mesh:meshObject meshObject=subject }}</span>
 &ndash; ad by
{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Marketing/AdvertisementInteraction_WithAdvertisementBy_Advertiser-S" ) }}
&quot;{{# mesh:meshObjectLink .. meshObject=this }}{{ mesh:meshObject .. meshObject=this }}{{/ mesh:meshObjectLink }}&quot;
{{/   each }}
{{# if ( mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/AdvertisementInteraction_When" nullContent="" ) }}
 on {{ mesh:property meshObject=subject propertyType="net.ubos.model.Marketing/AdvertisementInteraction_When" }}
{{/ if }}
</p>

{{/ vl:vl }}
