{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.order/net.ubos.underbars.vl.order.css" }}

{{# vl:vl }}

<p>
 <span class="h">{{ mesh:meshObject meshObject=subject }}</span>
on {{ mesh:property meshObject=subject propertyType="net.ubos.model.Commerce/Order_OrderedOn" }}:
</p>
<table class="items">
{{#   each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Commerce/Order_Includes_OrderLineItem-S" ) }}
 <tr>
  <td class="quantity">{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Commerce/OrderLineItem_Quantity" }}</td>
{{#    util:var .. name="product" value=( mesh:traverseToSingle .. meshObject=this traverse="net.ubos.model.Commerce/OrderLineItem_References_Offering-S" ) }}
  <td class="product">{{# mesh:meshObjectLink .. meshObject=product }}{{ mesh:meshObject .. meshObject=product }}{{/ mesh:meshObjectLink }}</td>
{{/    util:var }}
 </tr>
{{/   each }}
</table>

{{/ vl:vl }}
