{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.order/net.ubos.underbars.vl.order.css" }}

{{# vl:vl }}

<h1>{{ mesh:meshType meshObject=subject }}</h1>

<table class="meshobjectproperties">
 <tr>
  <th>Ordered on:</th>
  <td>{{ mesh:property meshObject=subject propertyType="net.ubos.model.Commerce/Order_OrderedOn" }}</td>
 </tr>
</table>

<h2>Items:</h2>

<table class="items">
 <colgroup>
  <col>
  <col>
  <col>
  <col>
 </colgroup>
 <thead>
  <tr>
   <th>Quantity</th>
   <th>Item</th>
   <th>Price</th>
   <th>Sales tax</th>
  </tr>
 </thead>
{{# each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Commerce/Order_Includes_OrderLineItem-S" ) }}
 <tr>
  <td class="quantity">{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Commerce/OrderLineItem_Quantity" }}</td>
{{#    util:var .. name="product" value=( mesh:traverseToSingle .. meshObject=this traverse="net.ubos.model.Commerce/OrderLineItem_References_Offering-S" ) }}
  <td class="product">{{# mesh:meshObjectLink .. meshObject=product }}{{ mesh:meshObject .. meshObject=product }}{{/ mesh:meshObjectLink }}</td>
{{/    util:var }}
  <td class="currency">{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Commerce/OrderLineItem_UnitPrice" }}</td>
  <td class="currency">{{ mesh:property .. meshObject=this propertyType="net.ubos.model.Commerce/OrderLineItem_UnitSalesTax" }}</td>
 </tr>
{{/ each }}
</table>

{{/ vl:vl }}
