{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.facebookpartner/net.ubos.underbars.vl.facebookpartner.css" }}

{{# vl:vl }}

<div class="name">
 <span class="h">Facebook Partner</span><br>
{{#   mesh:meshObjectLink meshObject=subject }}{{ mesh:meshObject meshObject=subject }}{{/ mesh:meshObjectLink }}
</div>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<div class="events">
 <table class="events">
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( set:sort meshObjectSet=( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookPartnerEvent_OccursAt_FacebookPartner-D" ) sortByPropertyType="net.ubos.model.Facebook/FacebookPartnerEvent_When" ) }}
  <tr>
   <td>
{{#         mesh:meshObjectLink .. meshObject=this }}
{{            mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_When" }}
{{/         mesh:meshObjectLink }}
   </td>
   <td>
{{#         mesh:meshObjectLink .. meshObject=this }}
{{            mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_Type" }}
{{/         mesh:meshObjectLink }}
   </td>
   <td>
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Facebook/FacebookPartnerEvent_Identifies_FacebookPartnerEventUnknown-S" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}
{{              mesh:property ../.. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEventUnknown_ID" }}
{{/           mesh:meshObjectLink }}
{{/         each }}
   </td>
  </tr>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
 </table>
</div>
{{/     bracket:ifContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
