{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.facebookpartner/net.ubos.underbars.vl.facebookpartner.css" }}

{{# vl:vl }}

<h1>Facebook Partner: {{ mesh:meshObject meshObject=subject }}</h1>

{{#   bracket:bracket }}
{{#     bracket:ifContent }}
<p>The meaning of the following exported data elements is currently unknown.</p>

<div class="events">
 <table class="events">
{{/     bracket:ifContent }}
{{#     bracket:content }}
{{#       each ( mesh:traverse meshObject=subject traverse="net.ubos.model.Facebook/FacebookPartnerEvent_OccursAt_FacebookPartner-D" ) }}
  <tr>
   <td>
{{#         mesh:meshObjectLink .. meshObject=this }}
{{            mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_When" }}
{{/         mesh:meshObjectLink }}
   </td>
   <td>
{{#         mesh:meshObjectLink .. meshObject=this }}
{{            mesh:property .. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEvent_Type" }}
{{/         mesh:meshObjectLink }}
   </td>
   <td>
{{#         each ( mesh:traverse .. meshObject=this traverse="net.ubos.model.Facebook/FacebookPartnerEvent_Identifies_FacebookPartnerEventUnknown-S" ) }}
{{#           mesh:meshObjectLink ../.. meshObject=this }}
{{              mesh:property ../.. meshObject=this propertyType="net.ubos.model.Facebook/FacebookPartnerEventUnknown_ID" }}
{{/           mesh:meshObjectLink }}
{{/         each }}
   </td>
  </tr>
{{/       each }}
{{/     bracket:content }}
{{#     bracket:ifContent }}
 </table>
</div>
{{/     bracket:ifContent }}
{{#     bracket:notIfContent }}
<p>No data.</p>
{{/     bracket:notIfContent }}
{{/   bracket:bracket }}

{{/ vl:vl }}
