{{  html:link rel="stylesheet" href="/s/net.ubos.underbars.vl.propertysheet/style.css" }}

{{# vl:vl }}

 <div class="entitytypes">
  <h4>EntityTypes</h4>
{{# bracket:bracket }}
{{#   bracket:ifContent }}
  <ul>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:blessedBy meshObject=subject ) }}
   <li>{{ mesh:meshType .. meshType=this }}</li>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </ul>
{{/   bracket:ifContent }}
{{#   bracket:notIfContent }}
  <p class="none">&ndash;</p>
{{/   bracket:notIfContent }}
{{/ bracket:bracket }}
 </div>

 <div class="attributes">
  <h4>Properties,&nbsp;Attributes</h4>
{{# bracket:bracket }}
{{#   bracket:ifContent }}
  <ul>
{{/   bracket:ifContent }}
{{#   bracket:content }}
{{#     each ( mesh:propertyTypes meshObject=subject ) }}
   <li>{{ mesh:meshType .. meshType=this }}: {{ mesh:property .. meshObject=subject propertyType=this }}</li>
{{/     each }}
{{#     each ( mesh:attributeNames meshObject=subject ) }}
   <li>{{ this }}</li>
{{/     each }}
{{/   bracket:content }}
{{#   bracket:ifContent }}
  </ul>
{{/   bracket:ifContent }}
{{#   bracket:notIfContent }}
&ndash;
{{/   bracket:notIfContent }}
{{/ bracket:bracket }}
 </div>

 <div class="neighbors">
  <table>
   <thead>
    <tr>
     <th>
      <h4>RoleTypes</h4>
     </th>
     <th class="id">
      <h4>Neighbors</h4>
     </th>
     <th>
      <h4>Role&nbsp;Properties,&nbsp;Attributes</h4>
     </th>
    </tr>
   </thead>
{{# bracket:bracket }}
{{#   bracket:content }}
{{#     each ( mesh:neighbors meshObject=subject ) }}
{{#       util:var .. name="neighbor" value=this }}
   <tr>
    <td>
{{#         bracket:bracket }}
{{#           bracket:ifContent }}
     <ul>
{{/           bracket:ifContent }}
{{#           bracket:content }}
{{#             each ( mesh:roleTypes .. meshObject=meshObject neighbor=neighbor ) }}
{{#               util:var .. name="roleType" value=this }}
      <li>{{ mesh:meshType .. meshType=roleType }}</li>
{{/               util:var }}
{{/             each }}
{{/           bracket:content }}
{{#           bracket:ifContent }}
     </ul>
{{/           bracket:ifContent }}
{{#           bracket:notIfContent }}
     <p class="none">&ndash;</p>
{{/           bracket:notIfContent }}
{{/         bracket:bracket }}
    </td>
    <td>{{# mesh:meshObjectLink .. meshObject=neighbor }}{{ mesh:meshObject meshObject=neighbor }}{{/ mesh:meshObjectLink }}</td>
    <td>
{{#         bracket:bracket }}
{{#           bracket:ifContent }}
     <ul>
{{/           bracket:ifContent }}
{{#           bracket:content }}
{{#             each ( mesh:rolePropertyTypes meshObject=meshObject neighbor=neighbor ) }}
{{#               util:var name="rolePropertyType" value=this }}
      <li>{{ mesh:meshType .. meshType=rolePropertyType }}: {{ mesh:roleProperty ..  meshObject=subject neighbor=neighbor  rolePropertyType=rolePropertyType }}</li>
{{/               util:var }}
{{/             each }}
{{#             each ( mesh:roleAttributeNames .. meshObject=meshObject neighbor=neighbor ) }}
      <li>{{ this }}</li>
{{/             each }}
{{/           bracket:content }}
{{#           bracket:ifContent }}
     </ul>
{{/           bracket:ifContent }}
{{#           bracket:notIfContent }}
     <p class="none">&ndash;</p>
{{/           bracket:notIfContent }}
{{/         bracket:bracket }}
    </td>
   </tr>
{{/       util:var }}
{{/     each }}
{{/   bracket:content }}
{{#   bracket:notIfContent }}
   <tr>
    <td class="none">&ndash;</td>
    <td class="none">&ndash;</td>
    <td class="none">&ndash;</td>
   </tr>
{{/   bracket:notIfContent }}
{{/ bracket:bracket }}
  </table>
 </div>

{{/ vl:vl }}

